<template>
  <section>
    <div v-if="isLegit.nopermission">
      Please get permission to view this site
    </div>
    <div v-else>
      <b-tabs position="is-centered" class="block">
        <b-tab-item label="Configuration" v-if="isLegit.configview">
          <config-handling v-bind:app-name="appName" v-bind:checkingJson="checking" v-bind:templates="filtertemplates"/>
        </b-tab-item>
        <b-tab-item :change="activateApp()" label="Check Attributes" v-if="isLegit.appview">
          <view-attributes v-bind:app-name="appName"/>
        </b-tab-item>
      </b-tabs>
    </div>
  </section>
</template>

<script>
import checking from '@/configparser/customattributes/main'
import filtertemplates from '@/configparser/filtertemplates'

export default {
  components: {
    ConfigHandling: () => import(/* webpackPrefetch: true */ '@/components/ConfigHandling'),
    ViewAttributes: () => import(/* webpackPrefetch: true */ '@/components/ViewAttributes')
  },
  data () {
    return {
      isAppHandlingVisible: true,
      appName: 'customattributes',
      checking: checking,
      filtertemplates: filtertemplates
    }
  },
  mounted () {
  },
  methods: {
    activateApp () {
      this.isAppHandlingVisible = true
    }
  },
  computed: {
    isLegit () {
      return this.$store.getters.isLegit(this.appName)
    }
  }
}
</script>

<style>

</style>
