<template>
  <section>
    <div v-if="isLegit.nopermission">
      Please get permission to view this site
    </div>
    <div v-else>
      <b-tabs position="is-centered" class="block">
        <b-tab-item label="Configuration" v-if="isLegit.configview">
          <config-handling v-bind:app-name="appName" v-bind:checkingJson="checking" />
        </b-tab-item>
        <b-tab-item :change="activateApp()" label="Logs" v-if="isLegit.appview">
          <log-handling v-bind:app-name="appName"/>
        </b-tab-item>
      </b-tabs>
    </div>
  </section>
</template>

<script>
import checking from '@/configparser/customnamebuilder/main'

export default {
  components: {
    ConfigHandling: () => import(/* webpackPrefetch: true */ '@/components/ConfigHandling'),
    LogHandling: () => import(/* webpackPrefetch: true */ '@/components/LogHandling')
  },
  data () {
    return {
      isAppHandlingVisible: true,
      appName: 'customnamebuilder',
      checking: checking
    }
  },
  mounted () {
  },
  methods: {
    activateApp () {
      this.isAppHandlingVisible = true
    }
  },
  computed: {
    isLegit () {
      return this.$store.getters.isLegit(this.appName)
    }
  }
}
</script>

<style>

</style>
