<template>
    <div v-if="isLegit.nopermission">
      Please get permission to view this site
    </div>
    <div v-else>
        <!--b-loading :is-full-page="isFullPage" :active.sync="loading" :can-cancel="true"></b-loading-->
        <button-group :json="getfetchedData" @refreshConfig="fetchConfigData" @commit="commitConfigData" />
        <br/>
        <eligible-table :loading="loading"/>

        <div class="timeline">
          <div v-for="item in json.history" :key="item.timestamp">
            <div class="timestamp">
              <span class="date">{{new Date(item.timestamp).toLocaleString()}}
                <span>{{item.username}}</span>
              </span>
            </div>
            <div @click="showOldJSON(item)" class="status">
              <span>{{item.content}}</span>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
import ButtonGroup from '@/components/ButtonGroup'
import EligibleTable from '@/components/EligableTable'
import store from '@/store/index'

// import { VueHorizontalTimeline } from 'vue-horizontal-timeline'

export default {
  name: 'UserManagement',
  components: {
    ButtonGroup,
    EligibleTable
  },
  data () {
    return {
      json: { config: {}, history: [] },
      isSwitched: false,
      loading: false,
      isFullPage: false,
      compareJson: { config: {} },
      appName: 'usermanagement'
    }
  },
  methods: {
    fetchConfigData () {
      this.loading = true
      store.dispatch('usermanagement/getEligibleData')
        .catch(error => this.failedMessage(error))
        .finally(() => {
          this.loading = false
        })
    },
    commitConfigData (message) {
      if (store.state.usermanagement.updateIsNew) {
        this.failedMessage('cannot upload config, please refresh first')
      } else {
        this.loading = true
        const timestamp = Date.now()
        const commitPayload = {
          app: this.appName,
          config: this.getfetchedData,
          history: {
            content: message,
            username: this.$store.state.userName,
            timestamp: timestamp,
            title: 'not defined',
            filename: this.appName + '_' + timestamp + '.json'
          }
        }
        this.$store.dispatch(this.appName + '/commitConfig', commitPayload)
          .then(() => {
            this.loading = false
          })
          .then(data => {
            if (data) {
              this.successMessage('Sucessful commited config')
            }
          })
          .catch(() => this.failedMessage('Backend API not working check Windchill'))
      }
    },
    successMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-success',
        queue: true
      })
    },
    failedMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-danger',
        queue: false
      })
    },
    makeUpdate () {
      this.loading = true
      store.dispatch('usermanagement/getEligibleData')
        .then(() => {
          this.loading = false
        })
      store.commit('usermanagement/resetUpdate')
    },
    pleaseUpdate () {
      this.$buefy.snackbar.open({
        message: 'Please Update Config',
        type: 'is-danger',
        position: 'is-top',
        actionText: 'Update',
        indefinite: true,
        onAction: () => {
          this.makeUpdate()
        }
      })
    }
  },
  mounted () {
    this.loading = true
    store.dispatch('usermanagement/getEligibleData')
      .catch(error => this.failedMessage(error))
      .finally(() => {
        this.loading = false
      })
      /*
    if (this.$store.state.settings.user.notification.usermanagement) {
      store.dispatch('usermanagement/checkForUpdate')
    }
    */
  },
  beforeDestroy () {
    document.querySelectorAll('[role="alertdialog"]').forEach(function (elem) {
      elem.parentNode.removeChild(elem)
    })

    store.commit('usermanagement/cleanUp')
  },
  beforeRouteLeave (to, from, next) {
    if (store.state.usermanagement.hasBeenEdited) {
      this.$buefy.dialog.confirm({
        title: 'Unsaved Changes',
        message: 'Are you sure you want to leave the page?',
        cancelText: 'Cancel',
        confirmText: 'Yes',
        type: 'is-warning',
        onConfirm: () => next(),
        onCancel: () => next(false)
      })
    } else {
      next()
    }
  },
  computed: {
    isLegit () {
      return store.getters.isLegit('usermanagement')
    },
    getfetchedData () {
      return { config: store.state.usermanagement.fetchedData }
    },
    getCompareProps: function () {
      return { newJson: this.json }
    },
    hasUpdate () {
      return store.state.usermanagement.updateIsNew
    }
  },
  watch: {
    getfetchedData () {
      this.json = this.getfetchedData
    },
    functionOn: function () {
      this.commitOnOff()
    },
    hasUpdate () {
      if (this.hasUpdate) {
        this.$buefy.dialog.confirm({
          title: 'Edited Config',
          message: 'Please update Configuration. You cannot upload the config anymore. please make a local copy if you want to commit your changes.',
          cancelText: 'Cancel',
          confirmText: 'Update',
          type: 'is-warning',
          onConfirm: () => this.makeUpdate(),
          onCancel: () => this.pleaseUpdate()
        })
      }
    }
  }
}
</script>

<style>
.timeline {
  margin: 50px 0;
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
  overflow: auto;
}
.timeline li {
  transition: all 200ms ease-in;
}
.timestamp {
  width: 200px;
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 4px solid #3e70ff;
  position: relative;
  transition: all 200ms ease-in ;
}

.status span {
  font-weight: 600;
  padding-top: 20px;
  cursor: pointer;
}
.status span:before {
  content: '';
  width: 25px;
  height: 25px;
  background-color: #e8eeff;
  border-radius: 25px;
  border: 4px solid #3e70ff;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

</style>
