<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
	<meta name="Description" content="GIA Windchill Apps; Easy Configuration editing">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"></meta>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico"></link>
    <!--link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css"-->
    <!--link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"-->
    <!--link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"-->
    <title>GIA Windchill App's</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
