/* dark styling of the editor */
div.jsoneditor,
div.jsoneditor-menu {
  border-color: #4b4b4b!important;
}
div.jsoneditor-menu {
  background-color: #4b4b4b!important;
}
div.jsoneditor-tree,
div.jsoneditor textarea.jsoneditor-text {
  background-color: #363636!important;
  color: #ffffff!important;
}
div.jsoneditor-field,
div.jsoneditor-value {
  color: #ffffff!important;
}
table.jsoneditor-search div.jsoneditor-frame {
  background: #808080!important;
}

tr.jsoneditor-highlight,
tr.jsoneditor-selected {
  background-color: #808080!important;
}

div.jsoneditor-field[contenteditable=true]:focus,
div.jsoneditor-field[contenteditable=true]:hover,
div.jsoneditor-value[contenteditable=true]:focus,
div.jsoneditor-value[contenteditable=true]:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
  background-color: #ffffff!important;
  border-color: #fdfbfb!important;
  color: #292828!important;
}

div.jsoneditor-field.highlight-active,
div.jsoneditor-field.highlight-active:focus,
div.jsoneditor-field.highlight-active:hover,
div.jsoneditor-value.highlight-active,
div.jsoneditor-value.highlight-active:focus,
div.jsoneditor-value.highlight-active:hover {
  background-color: #b1b1b1!important;
  border-color: #b1b1b1!important;
}

div.jsoneditor-tree button:focus {
  background-color: #868686!important;
}

/* coloring of JSON in tree mode */
div.jsoneditor-readonly {
  color: #e84d0e!important;
}
div.jsoneditor td.jsoneditor-separator {
  color: #acacac!important;
}
div.jsoneditor-value.jsoneditor-string {
  color: #e84d0e!important;
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
  color: #bababa;
}
div.jsoneditor-value.jsoneditor-number {
  color: #34a04f!important;
}
div.jsoneditor-value.jsoneditor-boolean {
  color: #ffe448!important;
}
div.jsoneditor-value.jsoneditor-null {
  color: #49a7fc!important;
}
div.jsoneditor-value.jsoneditor-invalid {
  color: white;
}
.jsoneditor-search input {
  background-color: #868686;
}
.jsoneditor-search {
  background-color: #484646!important;
}

.jsoneditor-frame {
  background-color: #484646!important;
}