<template>
  <div>
    <div class="sidebar">
      <aside-menu />
    </div>

  <div class="content">
    <br />
    <div class="card" id="mainCard">
      <div class="card-header" id="go-first">
        <p class="card-header-title">{{getActiveTab}}</p>
      </div>
      <div class="card-content">
        <router-view />
      </div>
    </div>
  </div>
</div>
</template>

<script>
import AsideMenu from '@/components/AsideMenu'
import GiaApps from '../json_files/gia_apps_products'
import i18n from '@/lang/index'
export default {
  name: 'ConfigurationTab',
  components: {
    AsideMenu
  },
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
    tabClick (tab) {
      this.active_tabname = tab.label
    }
  },
  computed: {
    getActiveTab () {
      var appName = ''
      var routname = ''
      try {
        routname = this.$route.name
      } catch {

      }

      Object.keys(GiaApps).forEach(function (key) {
        if (GiaApps[key].routername === routname) {
          var localizeIndex = 'apps.' + GiaApps[key].field + '.label'
          appName = i18n.t(`${localizeIndex}`)
        }
      })
      return appName
    }
  }
}
</script>

<style>
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 80px;
  background-color:invert(100%);
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 80px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

</style>
