<template>
<div>
    <div class="sidebar">
      <aside-menu />
    </div>

  <div class="content">
    <br />
    <div class="card">
      <div class="card-header" id="go-first">
        <p class="card-header-title">Windchill Server Log</p>
      </div>
      <div class="card-content">
        <section>
          <b-tabs position="is-centered" class="block" v-model="$store.state.loglevel.MainTab">
            <b-tab-item label="Configuration">
              <log-level-settings />
            </b-tab-item>
            <b-tab-item label="Monitor">
              <log-file-list />
            </b-tab-item>
          </b-tabs>
        </section>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import AsideMenu from '@/components/AsideMenu'
import LogLevelSettings from '../components/LogLevelSettings'
import LogFileList from '../components/LogFileList'

export default {
  name: 'GlobalLogHandling',
  components: {
    AsideMenu,
    LogLevelSettings,
    LogFileList
  },
  data () {
    return {
    }
  },
  mounted () {
    this.loadingList = true
    this.$store.dispatch('loglevel/subscribeForLoggerLevels')
      .then(() => {
        this.loadingList = false
      })
    this.$store.dispatch('loglevel/getAllLogFiles')
      .then(() => {
        this.$store.dispatch('loglevel/getLogContent', 0)
      })
    // this.$store.dispatch(this.appName + '/subscribeForLogUpdate', this.appName)
  },
  methods: {
    tabChanged (input) {
      console.log(input)
    },
    successMessage () {
      this.$buefy.toast.open({
        duration: 5000,
        message: 'JSON Config loaded successfully',
        position: 'is-bottom',
        type: 'is-success',
        queue: true
      })
    },
    failedMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-danger'
      })
    }
  },
  computed: {
  },
  watch: {
  }
}
</script>

<style>
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 80px;
  background-color:invert(100%);
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 80px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
</style>
