<template>
  <div id="all_content">
    <canvas id="particles" style="display:block;z-index:1"></canvas>
    <div id="app_desc_block">
    <div class="columns is-mobile is-centered">
      <div class="column is-three-quarters">
        <section class="hero">
          <div class="hero-body">
            <div class="container">
              <h1 class="title has-text-white">
                {{$t('home.title')}}
              </h1>
              <h2 class="subtitle has-text-white">
                {{$t('home.subtitle')}}
              </h2>
            </div>
          </div>
        </section>
        <div class="container">
          <div class="columns is-multiline is-mobile">
            <div class="column is-full-mobile is-half-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd"  v-for="app in getApps" :key="app.appIcon">
              <app-description :app="app" />
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import AppDescription from '@/components/AppDescription.vue'
import Scene from '../animation/particles/scene'
// import { ParticlesBg } from 'particles-bg-vue'
export default {
  name: 'Home',
  components: { AppDescription },
  data () {
    return {

    }
  },
  methods: {
    showParticles () {
      // particles.goMovie()
    }
  },
  computed: {
    getApps () {
      return this.$store.getters.getAppList
    }
  },
  mounted () {
    const scene = new Scene('particles')
    scene.startAnimation()
  }
}
</script>

<style>
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    position: relative;
    background-color: black!important;
}
#particles{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: initial;
}
#app_desc_block {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
}
#all_content {
  height: 100%;
}
</style>
