<template>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Please Log in order to visit content pages
        </h1>
      </div>
    </div>
  </section>
</template>

<script>
import LoginModal from '../components/Login'
export default {
  data () {
    return {
    }
  },
  mounted () {
    this.openLogin()
  },
  methods: {
    openLogin () {
      this.$buefy.modal.open({
        parent: this,
        component: LoginModal,
        customClass: 'custom-class custom-class-2',
        hasModalCard: true,
        trapFocus: true,
        props: {
        }
      })
    }
  }
}
</script>

<style>

</style>
