<template>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Successfully logged out
        </h1>
      </div>
    </div>
  </section>
</template>

<script>
import { userService } from '../services'
import authentication from '../services/ssoauthentication'
export default {
  data () {
    return {
    }
  },
  mounted () {
    if (process.env.VUE_APP_USE_SSO.toLowerCase() === 'true') {
      authentication.signOut()
    } else {
      userService.logout(false)
    }

    setTimeout(() => {
      this.$router.push({ name: 'Home' })
    }, 1000)
  }
}
</script>

<style>

</style>
