<template>
  <div>
    <div>
      <div class="columns is-mobile">
        <div class="column is-one-fifth">
        </div>
        <div class="column">
          <b-field grouped>
            <p class="control">
            <b-tooltip
              label="Import License File"
              :delay="500">
              <b-field class="file">
                <b-upload v-model="file"
                drag-drop="true"
                native="true">
                  <a class="button is-primary is-medium" size="is-medium">
                    <b-icon icon="upload"
                      size="is-medium">
                    </b-icon>
                  </a>
                </b-upload>
              </b-field>
            </b-tooltip>
            </p>
          </b-field>
          <br>
          <b-table :data="tableData">
            <b-table-column field="field" label="App" v-slot="props">
              {{ props.row.field }}
            </b-table-column>
              <b-table-column  field="version" label="Version" v-slot="props">
                <div v-if="props.row.info">
                  {{ props.row.info.version }}
                </div>
            </b-table-column>
            <b-table-column  field="license_id" label="License" v-slot="props">
                <div v-if="props.row.info">
                  {{ props.row.info.license_id }}
                </div>
            </b-table-column>
              <b-table-column field="valid_until" label="Valid until" v-slot="props">
                <div v-if="props.row.info">
                  {{ calculateDate(props.row) }}
                </div>
            </b-table-column>
            <b-table-column  field="status" label="Status" v-slot="props">
                <div>
                  <b-icon
                  :icon="calculteStatus(props.row).icon"
                  :type="calculteStatus(props.row).type">
                </b-icon>
                  {{ calculteStatus(props.row).message }}
                </div>
            </b-table-column>
          </b-table>
        </div>
        <div class="column is-one-fifth"></div>
      </div>
    </div>
  </div>
</template>

<script>
import LicenseParser from '../services/licenseparser'
import moment from 'moment'

export default {
  name: 'Version',
  data () {
    return {
      file: null,
      loading: false,
      tableData: [],
      tableEmptyMessage: 'No file loaded',
      format: 'YYYY-MM-DDThh:mm:ssZ'
    }
  },
  mounted () {
    this.$store.dispatch('getInstalledApps')
      .then(() => {
        this.calculateTableData()
      })
  },
  methods: {
    calculateTableData () {
      this.tableData = Object.keys(this.$store.getters.getInstalledList).map((key) => this.$store.getters.getInstalledList[key])
    },
    recalculateData (licenses) {
      var licenseData = JSON.parse(JSON.stringify(licenses))
      licenseData.forEach(licenseItem => {
        if (process.env.VUE_APP_BASE_URL.indexOf(licenseItem.host) >= 0) {
          this.$store.dispatch('renewLicenses', licenseItem)
          this.calculateTableData()
        } else {
          this.$buefy.toast.open({
            duration: 5000,
            message: 'license file dosn\'t corresponent with hostname',
            position: 'is-bottom',
            type: 'is-danger'
          })
        }
      })
    },
    calculteStatus (app) {
      var status = { icon: 'close-thick', type: 'is-danger', message: 'no license' }
      if (app.isinstalled) {
        // status = { icon: 'check', type: 'is-success', message: '' }
        if (app.info.valid_until) {
          var convertedTime = moment(app.info.valid_until)
          var timeDiff = convertedTime.diff(moment(), 'days')
          if (timeDiff > 30) {
            status = { icon: 'check', type: 'is-success', message: '' }
          } else if (timeDiff >= 0) {
            status = { icon: 'alert-outline', type: 'is-warning', message: 'attention only ' + timeDiff + ' days left' }
          } else {
            status.message = 'license not valid'
          }
        }
      }
      return status
    },
    calculateDate (app) {
      if (app.isinstalled) {
        if (app.info.valid_until) {
          return (moment(app.info.valid_until)).format('DD-MMM-YYYY')
        }
      }
      return ''
    }
  },
  computed: {
    getData () {
      return Object.keys(this.$store.getters.getInstalledList).map((key) => this.$store.getters.getInstalledList[key])
    }
  },
  watch: {
    file () {
      const promise = new Promise((resolve, reject) => {
        const reader = new FileReader()
        var vm = this
        reader.onload = e => {
          resolve((vm.fileinput = reader.result))
        }
        reader.readAsText(this.file)
      })
      promise.then(result => {
        this.loading = true
        const hello = new LicenseParser(result)
        hello.getLicensedApplications()
          .then(licenses => this.recalculateData(licenses))
          .finally(() => {
            this.loading = false
            this.file = null
          })
      })
    }
  }
}
</script>

<style>

</style>
