<template>
  <div :class="defineCardClass(app)" @click="routerForeward(app)">
    <div class="bounding-box">
      <div class="my-card-content">
        <div class="media">
          <div class="icondefine">
            <figure class="image is-48x48" >
              <b-icon
                :style="defineCardBg (app)"
                size="is-large"
                custom-size="is-size-1"
                :icon="app.icon">
              </b-icon>
            </figure>
          </div>
        </div>
        <h2 class="has-text-centered">{{ localizeLabel(app.field) }}</h2>
        <br>
        {{ localizeContent(app.field) }}
      </div>
    </div>
    <div class="bounding-box-error">
      <div class="my-card-content">
        <div class="media">
          <div class="icondefine">
            <figure class="image is-48x48" >
              <b-icon
                style="is-danger"
                size="is-large"
                custom-size="is-size-1"
                icon="close-thick">
              </b-icon>
            </figure>
          </div>
        </div>
        <h2 class="has-text-centered has-text-danger">{{ getErrorMessage(app) }}</h2>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppDescription',
  props: {
    app: {
      appName: String,
      appIcon: String,
      appContent: String
    }
  },
  methods: {
    routerForeward (app) {
      if (app.isinstalled && this.isLoggedIn) {
        this.$router.push({ name: app.routername.config })
      } else {
        this.$buefy.toast.open({
          duration: 5000,
          message: this.$i18n.t('home.login_first'),
          position: 'is-bottom',
          type: 'is-danger'
        })
      }
    },
    localizeContent (string) {
      const localizeIndex = 'apps.' + string + '.content'
      return this.$i18n.t(`${localizeIndex}`)
    },
    localizeLabel (string) {
      const localizeIndex = 'apps.' + string + '.label'
      return this.$i18n.t(`${localizeIndex}`)
    },
    getErrorMessage (app) {
      if (!app.isinstalled) {
        return this.$i18n.t('home.app_not_installed')
      } else if (!app.licensed) {
        return this.$i18n.t('home.app_not_licensed')
      } else {
        return this.$i18n.t('home.app_not_available')
      }
    },
    defineCardClass (app) {
      if (app.isinstalled) {
        return 'card spezialcard' // 'card spezialcard'
      } else {
        return 'card spezialcard-notclickable'
      }
    },
    defineCardBg (app) {
      return app.bgcolor
    }
  },
  computed: {
    isLoggedIn () {
      return this.$store.state.loggedIn
    }
  }
}
</script>

<style>
.spezialcard-notclickable {
  height: 100%;
  display:flex;
  flex-direction: column;
  z-index: 2;
  transition: 1s;
}

.spezialcard-notclickable .bounding-box-error{
  display: none;
}

.spezialcard .bounding-box-error{
  display: none;
}

.spezialcard-notclickable:hover {
  background-color: #ff4d4d!important;
  z-index: 2;
}

.spezialcard-notclickable:hover .bounding-box{
  display: none;
}

.spezialcard-notclickable:hover .bounding-box-error{
  display: block;
}

h2 {
  color: whitesmoke;
  font-size: 150% !important;
}
.spezialcard {
  height: 100%;
  display:flex;
  flex-direction: column;
  padding: 0px;
  color:white ;
  z-index: 2;
}

.icondefine {
  margin: 0 auto;
  padding: 0px;
}

.spezialcard:hover {
  background-color:black !important;
  cursor: pointer;
}

.installedbanner {
  width: 100%;
  background-color: #47d147;
  color: black;
  padding: 15px;
}

.notinstalledbanner {
  width: 100%;
  background-color: #ff4d4d;
  color: black;
  padding: 15px;
}

.spezialcard-block{
  height: 100%;
}

.card-footer {
    margin-top: auto;
}

.bounding-box {
    position: relative;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background: #282f2f;
    color: whitesmoke;
    margin: 0px;
}

.bounding-box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;

}

.bounding-box-error {
    position: relative;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background: #282f2f;
    color: whitesmoke;
    margin: 0px;
}

.bounding-box-error:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;

}

.my-card-content {
  padding: 20px;
}

</style>
