<template>
    <aside>
        <b-menu>
            <b-menu-list>
                <b-menu-item v-for="tab in getAppsFromList" :active.sync="tab.active" :disabled="enabledApps(tab.field)" :key="tab.id" @click="tabClick(tab)" >
                  <template slot="label">
                    <b-icon
                          size="is-large"
                          :icon="tab.icon">
                    </b-icon>
                  </template>
                </b-menu-item>
            </b-menu-list>
        </b-menu>
    </aside>
</template>

<script>
import RawApps from '../json_files/gia_apps_products.json'
import store from '../store/index'
export default {
  data () {
    return {
      activeTabName: '',
      activeTabColor: ''
    }
  },
  mounted () {
    var currentRouteName = this.$router.history.current.name
    this.getAppsFromList.forEach(app => {
      var rightApp = false
      var routeNameKeys = Object.keys(app.routername)
      routeNameKeys.forEach(key => {
        if (app.routername[key] === currentRouteName) {
          app.active = true
          rightApp = true
        }
      })
      if (!rightApp) {
        app.active = false
      }
    })
  },
  created () {
    this.enabledApps('neutraldata')
    /*
    this.tabClick(this.tabs[0])
    this.$router.push(this.tabs[0].path)
    */
  },
  methods: {
    tabClick (tab) {
      this.activeTabColor = tab.bgcolor
      this.activeTabName = tab.field
      if (!this.enabledApps(tab.field)) {
        this.$router.push({ name: tab.routername.config }).catch(() => {})
      }
    },
    enabledApps (appName) {
      if (store.getters.isLegit(appName).nopermission || !store.state.apps[appName].isinstalled) {
        return true
      }
      return false
    }
  },
  computed: {
    getAppsFromList () {
      var appList = []
      Object.keys(RawApps).forEach(function (key) {
        if (RawApps[key].is_app) {
          appList.push(RawApps[key])
        }
      })
      return appList
    }
  }
}
</script>

<style>

</style>
