<template>
  <section>
    <b-field grouped group-multiline>
      <p class="control">
        <b-tooltip
          label="Refresh JSON Config"
          :delay="500">
          <b-button class="button is-primary" @click="refreshConfig" size="is-medium">
              <b-icon
                icon="refresh"
                size="is-medium">
              </b-icon>
          </b-button>
        </b-tooltip>
      </p>
      <p class="control">
        <b-tooltip
          label="Set JSON Config productive"
          :delay="500">
          <b-button class="button is-primary" @click="editCommit" size="is-medium">
              <b-icon
                icon="check-decagram"
                size="is-medium">
              </b-icon>
          </b-button>
        </b-tooltip>
      </p>
      <p class="control">
        <b-tooltip
          label="Upload client JSON Config"
          :delay="500">
          <b-field class="file">
            <b-upload v-model="file">
                <a class="button is-primary is-medium" size="is-medium">
                  <b-icon icon="upload"
                  size="is-medium"></b-icon>
                </a>
            </b-upload>
          </b-field>
        </b-tooltip>
      </p>
      <p class="control">
        <b-tooltip
          label="Download JSON Config in editor"
          :delay="500">
          <b-button class="button is-primary" size="is-medium" @click="downloadConfig()">
            <b-icon
              icon="download"
              size="is-medium">
            </b-icon>
          </b-button>
        </b-tooltip>
      </p>
    </b-field>
  </section>
</template>

<script>
export default {
  props: ['json'],
  data () {
    return {
      jsonConfig: { alfonso: 2000 },
      file: null
    }
  },
  watch: {
    file () {
      const promise = new Promise((resolve, reject) => {
        const reader = new FileReader()
        var vm = this
        reader.onload = e => {
          resolve((vm.fileinput = reader.result))
        }
        reader.readAsText(this.file)
      })
      promise.then(

        result => {
          this.$emit('upload', JSON.parse(this.fileinput))
        },
        error => {
          /* handle an error */
          this.failedMessage(error)
        }
      ).catch(() => this.failedMessage('File: ' + this.file.name + ' is not a valid json file'))
    }
  },
  created () {
    const component = this
    this.handler = function (e) {
      component.$emit('keyup', e)
    }
    window.addEventListener('keyup', this.handler)
  },
  beforeDestroy () {
    window.removeEventListener('keyup', this.handler)
  },
  methods: {
    keyboardEvent (e) {
      // console.log(e)
      if (e.which === 13) {
      // run your code
      }
    },
    downloadConfig () {
      var dataStr = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(this.json))
      var a = document.createElement('a')
      a.href = dataStr
      a.download = 'filename.json'
      document.body.appendChild(a) // we need to append the element to the dom -> otherwise it will not work in firefox
      a.click()
      a.remove() // afterwards we remove the element again
    },
    failedMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-danger'
      })
    },
    refreshConfig () {
      this.$emit('refreshConfig')
    },
    editCommit () {
      this.$buefy.dialog.prompt({
        message: 'Enter commit message',
        inputAttrs: {
          placeholder: 'e.g. first commit'
        },
        trapFocus: true,
        onConfirm: (value) => this.$emit('commit', value)
      })
    }
  }
}
</script>

<style>

</style>
