<template>
   <div>
      <b-field group-multiline>
        <b-autocomplete
          @keyup.native.enter="getSynchronizeInfo()"
          v-model="objectNumber"
          placeholder="e.g. 00000008.PRT"
          keep-first
          open-on-focus
          :data="searchCache"
          @select="option => (selected = option)"
          clearable
        >
        </b-autocomplete>
        <p class="control">
              <button class="button is-primary" @click="getSynchronizeInfo()">Search</button>
        </p>
        <b-select placeholder="Object types" v-model="selectedObjectType">
          <option v-for="objectType in objectTypes" :key="objectType" :value="objectType" >{{ objectType }}</option>
        </b-select>

          <b-select placeholder="Trigger method" v-model="selectedTrigger" :disabled="selectedTrigger === null ? true : false">
              <option v-for="trigger in triggers" :key="trigger" :value="trigger" >{{ trigger }}</option>
          </b-select>
        </b-field>
    <br />

    <b-table
      :data="newData"
      ref="table200"
      hoverable
      :loading="isLoading">

        <b-table-column
          field="status"
          label="status"
          v-slot="props">
          <button class="button" @click="showItemInfo(props.row)">
            <b-icon
              :icon="typeof itemClass(props.row) === 'undefined' ? 'close-thick': itemClass(props.row).icon"
              :type="typeof itemClass(props.row) === 'undefined' ? 'is-danger' : itemClass(props.row).color">
            </b-icon>
          </button>
        </b-table-column>

        <b-table-column
          field="type"
          label="type"
          sortable
          v-slot="props">
          {{ props.row.object_type }}
        </b-table-column>

        <b-table-column
          field="number"
          label="Number"
          sortable
          v-slot="props">
          {{ props.row.number }}
        </b-table-column>

        <b-table-column
          field="Name"
          label="Name"
          sortable
          v-slot="props">
          {{ props.row.name }}
        </b-table-column>

        <b-table-column
          field="Version"
          label="Version"
          sortable
          v-slot="props">
          {{ props.row.version }}
        </b-table-column>

        <b-table-column v-for="newAttribute in newAttributes" :key="newAttribute" :label="newAttribute" v-slot="props">
          {{ getAttributeValue(props.row, newAttribute) }}
        </b-table-column>

      <template slot="empty">
        <section class="section">
          <div class="has-text-grey has-text-centered">
            <p>
              <b-icon
                icon="emoticon-sad"
                size="is-large">
              </b-icon>
            </p>
            <p>{{ tableEmptyMessage }}</p>
          </div>
        </section>
      </template>
    </b-table>
   </div>
</template>

<script>
import { apiService } from '../api/index'
import CheckSynchronizeInfo from './CheckSynchronizeInfo'
export default {
  data () {
    return {
      objectNumber: '',
      data: [],
      triggers: [],
      selectedTrigger: null,
      objectTypes: ['all', 'wt_part', 'epm_document', 'wt_document'],
      selectedObjectType: null,
      newData: [],
      isLoading: false,
      tableEmptyMessage: 'Nothing loaded',
      newAttributes: []
    }
  },
  methods: {
    getSynchronizeInfo () {
      var searchObject = { searchString: this.objectNumber, moduleName: 'synchronizercache' }
      this.$store.dispatch('synchronizercache/saveNewSearch', searchObject)
      this.isLoading = true
      this.data = {}
      this.newAttributes = []
      if (this.selectedObjectType === null) {
        this.selectedObjectType = this.objectTypes[0]
      }
      const body = { number: this.objectNumber, check: this.triggers, object_type: this.selectedObjectType }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'synchronizer/synchronizeinfo.jsp', body)
        .then(data => {
          this.data = data
          this.getTriggers()
          this.getSortedData()
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    itemClass (item) {
      var returnClass = { icon: 'close-thick', color: 'is-danger' }
      try {
        if ('errors' in item) {
          returnClass.icon = 'close-thick'
          returnClass.color = 'is-danger'
          return returnClass
        } else if ('new_attributes' in item) {
          returnClass.icon = 'check'
          returnClass.color = 'is-success'
          return returnClass
        } else if ('global_filter' in item && item.global_filter.length !== 0) {
          returnClass.icon = 'alert-outline'
          returnClass.color = 'is-warning'
          return returnClass
        }
      } catch (error) {
        console.log('is-danger', error)
        return returnClass
      }
    },
    getTriggers () {
      if (this.data.found) {
        this.data.result.forEach(object => {
          var thisObjectTriggers = Object.keys(object)
          for (var triggerIndex in thisObjectTriggers) {
            var changedItemLength = object[thisObjectTriggers[triggerIndex]].synchronize_info.global_changed_items.length
            if (!this.triggers.includes(thisObjectTriggers[triggerIndex]) && changedItemLength > 0) {
              this.triggers.push(thisObjectTriggers[triggerIndex])
            }
          }
        })
        this.selectedTrigger = this.triggers[0]
      }
    },
    getSortedData () {
      this.newData = []
      this.newAttributes = []
      if (this.data.found) {
        this.data.result.forEach(object => {
          if (object[this.selectedTrigger].synchronize_info.errors.length === 0) {
            object[this.selectedTrigger].synchronize_info.global_changed_items.forEach(item => {
              this.newData.push(item)
              this.getAllNewAttributes()
            })
          } else {
            var errorObject = object.manual.input
            errorObject.errors = {}
            object[this.selectedTrigger].synchronize_info.errors.forEach(item => {
              var allKeys = Object.keys(item)
              allKeys.forEach(key => {
                if (key !== 'config_no') {
                  errorObject.errors[key + '@config_no' + item.config_no] = item[key]
                }
              })
              this.newData.push(object.manual.input)
              this.getAllNewAttributes()
            })
          }
        })
      } else {
        this.tableEmptyMessage = 'Object ' + this.data.input.number + ' not found in Windchill'
      }
    },
    getAttributeValue (json, key) {
      var value = ''
      if ('new_attributes' in json) {
        if (key in json.new_attributes) {
          value = json.new_attributes[key]
        }
      }
      if (value === '') {
        if ('errors' in json) {
          if (key in json.errors) {
            value = json.errors[key]
          }
        }
      }
      return value
    },
    getAllNewAttributes () {
      this.newData.forEach(element => {
        if ('new_attributes' in element) {
          var allKeys = Object.keys(element.new_attributes)
          allKeys.forEach(key => {
            if (!this.newAttributes.includes(key)) {
              this.newAttributes.push(key)
            }
          })
        }

        if ('errors' in element) {
          var allErrorKeys = Object.keys(element.errors)
          allErrorKeys.forEach(key => {
            if (!this.newAttributes.includes(key)) {
              this.newAttributes.push(key)
            }
          })
        }
      })
    },
    showItemInfo (item) {
      this.$buefy.modal.open({
        parent: this,
        component: CheckSynchronizeInfo,
        customClass: 'custom-class custom-class-2',
        props: { item: item },
        hasModalCard: true,
        trapFocus: true
      })
    }
  },
  watch: {
    selectedTrigger () {
      this.getSortedData()
    }
  },
  computed: {
    searchCache () {
      return this.$store.getters['synchronizercache/cacheEntries']('synchronizercache')
    }
  }
}
</script>

<style>

</style>
