<template>
  <div class="modal-card" >

    <section class="modal-card-head">
      <h3 class="title has-text-centered">Object Info</h3>
    </section>

    <section class="modal-card-body">
      <h2 class="title has-text-centered is-size-4">Item Attributes</h2>
      <b-table :data="getItemInfo">
        <b-table-column :field="name" label="Attribute Name" v-slot="props">
            {{props.row.name}}
        </b-table-column>

        <b-table-column :field="name" label="Attribute Value" v-slot="props">
            {{props.row.value}}
        </b-table-column>
      </b-table>

          <br />
          <div v-if="getGlobalFailedErrors.length > 0">
            <h2 class="title has-text-centered is-size-4">Failed Global Filters</h2>
            <b-table :data="getGlobalFailedErrors">
              <template slot-scope="props">
              <b-table-column field="filter_key" label="Filter Key">
                  {{ props.row.filter_key }}
              </b-table-column>
              <b-table-column field="filter_must_pass" label="Filter Must Pass">
                  {{ props.row.filter_must_pass }}
              </b-table-column>
              <b-table-column field="filter_value" label="Filter Values">
                  {{ props.row.filter_value }}
              </b-table-column>
              </template>
            </b-table>
          </div>

          <br />
          <div v-if="getSystemErrors.length > 0">
            <h2 class="title has-text-centered is-size-4">System Errors</h2>
            <b-table :data="getSystemErrors">
              <template slot-scope="props">
              <b-table-column field="key" label="Error">
                  {{ props.row.key }}
              </b-table-column>
              <b-table-column field="value" label="System Response">
                  {{ props.row.value }}
              </b-table-column>
              </template>
            </b-table>
          </div>

        </section>
        <section class="modal-card-foot">
            <b-button type="is-primary " @click="closeModal()">
                Close
            </b-button>
        </section>
    </div>
</template>

<script>

export default {
  props: {
    item: {
      global_filter: []
    }
  },
  data () {
    return {
    }
  },
  methods: {
    closeModal () {
      this.$parent.close()
    }
  },
  mounted () {
  },
  computed: {
    getGlobalFailedErrors () {
      var filteredList = []
      if (Object.keys(this.item).includes('global_filter')) {
        this.item.global_filter.forEach(filterObject => {
          if (!filterObject.filter_result) {
            filteredList.push(filterObject)
          }
        })
      }
      return filteredList
    },
    getSystemErrors () {
      var filteredList = []
      if (Object.keys(this.item).includes('errors')) {
        Object.keys(this.item.errors).forEach(filterObject => {
          filteredList.push({ key: filterObject, value: this.item.errors[filterObject] })
        })
      }
      return filteredList
    },
    getItemInfo () {
      var itemAttributes = []
      Object.keys(this.item).forEach(attributeName => {
        if (!(attributeName === 'global_filter' || attributeName === 'new_attributes' || attributeName === 'errors')) {
          itemAttributes.push({ name: attributeName, value: this.item[attributeName] })
        }
      })
      return itemAttributes
    }
  }
}
</script>
