<template>
  <div class="modal-card" style="width: auto">
    <section class="modal-card-head">
      <h3 class="title has-text-centered">{{$t('timeline.comparejson.comparejson')}}</h3>
    </section>

    <section class="modal-card-body">
      <b-loading :is-full-page="false" v-model="loading" :can-cancel="true"></b-loading>
      <div class="box">
        <div class="columns">
          <div class="column">
            <h2>{{$t('timeline.comparejson.reference')}}</h2>
            <b-select placeholder="Select a name" expanded v-model="referencePath">
              <option
                v-for="option in history"
                :value="option.filename"
                :key="option.filename">
                {{option.timestamp2}} : {{ option.username }} : {{ option.content }}
              </option>
            </b-select>
            <v-jsoneditor v-model="reference" :options="options" height="500px" />
          </div>

          <div class="column">
            <h2>{{$t('timeline.comparejson.tocompare')}}</h2>
            <b-select placeholder="Select a name" expanded v-model="toComparePath">
              <option
                v-for="option in history"
                :value="option.filename"
                :key="option.filename">
                {{option.timestamp2}} : {{ option.username }} : {{ option.content }}
              </option>
            </b-select>
            <v-jsoneditor v-model="toCompare" :options="optionsCompare" height="500px" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import VJsoneditor from 'v-jsoneditor/src/index'
import { apiService } from '../api/index'
// import CompareTool from '../services/jsoncomparetool'

export default {
  name: 'CompareJsons',
  components: {
    VJsoneditor
  },
  props: {
    appName: {
      type: String
    },
    history: {
      type: Array
    }
  },
  data () {
    return {
      options: {
        mode: 'tree',
        onClassName: this.onClassNameReferenz
        // modes: ['code', 'tree', 'preview']
      },
      optionsCompare: {
        mode: 'tree',
        onClassName: this.onClassNameCompare
        // modes: ['code', 'tree', 'preview']
      },
      referencePath: null,
      reference: {},
      toComparePath: null,
      toCompare: {},
      needToFetch: false,
      loading: false
    }
  },
  methods: {
    findNodeInJson (json, path) {
      if (!json || path.length === 0) {
        return { field: undefined, value: undefined }
      }
      const first = path[0]
      const remainingPath = path.slice(1)

      if (remainingPath.length === 0) {
        return { field: (typeof json[first] !== 'undefined' ? first : undefined), value: json[first] }
      } else {
        return this.findNodeInJson(json[first], remainingPath)
      }
    },

    onClassNameCompare ({ path, field, value }) {
    },
    onClassNameReferenz ({ path, field, value }) {
      // var compareTool = new CompareTool()
      // return compareTool.calculateDifferenence(this.reference, this.toCompare, path)
    }
  },
  watch: {
    referencePath () {
      if (this.referencePath && this.toComparePath) {
        this.needToFetch = true
      }
    },
    toComparePath () {
      if (this.referencePath && this.toComparePath) {
        this.needToFetch = true
      }
    },
    needToFetch () {
      this.loading = true

      var body1 = { app: this.appName, config: this.referencePath }
      var body2 = { app: this.appName, config: this.toComparePath }
      if (this.needToFetch) {
        Promise.all([apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'getconfig.jsp', body1), apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'getconfig.jsp', body2)])
          .then(data => {
            this.reference = data[0].config
            this.toCompare = data[1].config
          })
          .then(() => { this.needToFetch = false })
          .finally(() => { this.loading = false })
      }
    }
  },
  computed: {
    getHistory () {
      return this.$store.state[this.appName]
    },
    triggerDataFetch () {
      if (this.referencePath && this.toComparePath) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style>
.isadded {
  background: hsla(94, 100%, 49%, 0.2);
}

.isremoved {
  background: hsla(0, 100%, 60%, 0.2);
}
.isdifferent {
  background: hsla(0, 89%, 70%, 0.2);
}

</style>
