<template>
  <div>
    <div class="columns is-multiline">
      <div class="column is-full-tablet is-full-desktop is-three-quarters-widescreen is-three-quarters-fullhd">

        <button-group :json="jsonConfig" @refreshConfig="fetchConfigData" @commit="commitConfigData" @upload="uploadFile"/>

        <br />
        <div class="field">
          <b-tag v-if="isTag1Active"
              type="is-primary"
              closable
              aria-close-label="Close tag"
              @close="isTag1Active = false">
              {{getConfig.config_path}}
          </b-tag>
        </div>

        <div v-if="getConfig.has_onoff">
          <div class="field">
              <b-switch v-model="isSwitched">Is Enabled</b-switch>
          </div>
        </div>

        <br />
        <div>
          <b-loading :is-full-page="isFullPage" :active.sync="loading" :can-cancel="true"></b-loading>
          <v-jsoneditor v-model="jsonConfig" :options="options" height="800px">
          </v-jsoneditor>
        </div>

      </div>

      <div class="column is-full-tablet is-full-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
          <div class="container">
            <time-line :timelineData="getConfig.history" :appName="appName"></time-line>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import VJsoneditor from 'v-jsoneditor/src/index'
import ButtonGroup from '../components/ButtonGroup'
import CompareJSONS from '../components/CompareJsons'
import TimeLine from '@/components/TimeLine'

export default {
  name: 'ConfigHandling',
  props: {
    appName: { type: String },
    checkingJson: {
      type: Function
    },
    templates: {
      type: Array,
      default: () => []
    }
  },
  components: {
    VJsoneditor,
    ButtonGroup,
    TimeLine
  },
  data () {
    return {
      options: {
        mode: 'tree',
        modes: ['code', 'tree', 'preview'],
        onValidate: this.onValidate,
        templates: this.templates
      },
      isSwitched: false,
      loading: false,
      isFullPage: false,
      compareJson: { config: {} },
      isTag1Active: true,
      functionOn: false,
      jsonConfig: {}
    }
  },
  methods: {
    onValidate (json) {
      return this.checkingJson(json)
    },
    fetchConfigData () {
      this.loading = true
      this.$store.dispatch(this.appName + '/fetchActiveConfig', this.appName)
        .then(data => {
          if (data.has_onoff) {
            this.isSwitched = data.function_on
          }
        })
        .catch(error => this.failedMessage(error))
        .finally(() => {
          this.loading = false
        })
    },
    fetchCompareConfigData (filename) {
      this.loading = true

      var req = { app: this.appName, config: filename }
      fetch(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'getconfig.jsp', {
        method: 'POST',
        headers: {
          Authorization: this.$store.state.headerAuth,
          'Content-Type': 'application/json; charset=utf-8'
        },
        credentials: 'include',
        body: JSON.stringify(req)
      })
        .then(blob => blob.text())
        .then(text => JSON.parse(text))
        .then(data => {
          if (data.config) {
            if (data.history.length === 0) {
              this.failedMessage(data.history_error)
            } else if (JSON.stringify(data.config) === '{}') {
              this.failedMessage(data.config_error)
            } else {
              this.successMessage('Fetched Config successfully')
            }
            this.compareJson = data
          } else {
            this.failedMessage(data.error)
          }
        })
        .catch(() => this.failedMessage('Backend API not working check Windchill'))
        .finally(() => this.finallyFetch())
    },
    finallyFetch () {
      this.loading = false
    },
    uploadFile (parsedFileContent) {
      this.$store.commit(this.appName + '/pushFileConfigData', parsedFileContent)
    },
    commitConfigData (message) {
      this.loading = true
      const timestamp = Date.now()
      const commitPayload = {
        app: this.appName,
        config: this.jsonConfig,
        history: {
          content: message,
          username: this.$store.state.user.userName,
          timestamp: timestamp,
          title: 'not defined',
          filename: this.appName + '_' + timestamp + '.json'
        }
      }
      this.$store.dispatch(this.appName + '/commitConfig', commitPayload)
        .then(() => {
          this.loading = false
        })
        .then(this.fetchConfigData())
    },
    commitOnOff () {
      const commitHistory = {
        app: this.appName,
        function_on: this.isSwitched
      }
      fetch(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'setconfig.jsp', {
        method: 'POST',
        headers: {
          Authorization: this.$store.state.headerAuth,
          'Content-Type': 'application/json; charset=utf-8'
        },
        credentials: 'include',
        body: JSON.stringify(commitHistory)
      })
        .then(blob => blob.text())
        .then(text => JSON.parse(text))
        .then(data => {
          if (data) {
            if (this.isSwitched) {
              this.successMessage('Successfully enabled')
            } else {
              this.successMessage('Successfully disabled')
            }
          }
        })
        .catch(error => this.failedMessage('Could not submit commit, Error: ' + error))
    },
    successMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-success',
        queue: true
      })
    },
    failedMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-danger'
      })
    },
    pleaseUpdate () {
      this.$buefy.snackbar.open({
        message: 'Please Update Config',
        type: 'is-danger',
        position: 'is-top',
        actionText: 'Update',
        indefinite: true,
        onAction: () => {
          this.makeUpdate()
        }
      })
    },
    makeUpdate () {
      this.loading = true
      this.$store.dispatch(this.appName + '/fetchActiveConfig')
        .then(() => {
          this.loading = false
        })
      this.$store.commit(this.appName + '/resetConfigUpdate')
    },
    showOldJSON (item) {
      this.fetchCompareConfigData(item.filename)
      while (this.loading) {
        this.$buefy.modal.open({
          parent: this,
          component: CompareJSONS,
          customClass: 'custom-class custom-class-2',
          hasModalCard: false,
          trapFocus: true,
          props: { newJson: this.json, oldJson: this.compareJson }
        })
        break
      }
    }
  },
  mounted () {
    this.loading = true
    this.$store.dispatch(this.appName + '/fetchActiveConfig', this.appName)
      .then(data => {
        if (data.has_onoff) {
          this.isSwitched = data.function_on
        }
      })
      .catch(error => this.failedMessage(error))
      .finally(() => {
        this.loading = false
      })
    if (this.$store.state.settings.user.notification[this.appName]) {
      this.$store.dispatch(this.appName + '/subscribeForConfigUpdate', this.appName)
    }
  },
  computed: {
    getCompareProps: function () {
      return { newJson: this.json }
    },
    getConfig () {
      return this.$store.state[this.appName].fetchedConfig
    },
    hasUpdate () {
      return this.$store.state[this.appName].updateConfigIsNew
    }
  },
  watch: {
    isSwitched: function () {
      this.commitOnOff()
    },
    hasUpdate () {
      if (this.hasUpdate) {
        this.$buefy.dialog.confirm({
          title: 'Edited Config',
          message: 'Please update Configuration. You cannot upload the config anymore. please make a local copy if you want to commit your changes.',
          cancelText: 'Cancel',
          confirmText: 'Update',
          type: 'is-warning',
          onConfirm: () => this.makeUpdate(),
          onCancel: () => this.pleaseUpdate()
        })
      }
    },
    getConfig () {
      this.jsonConfig = this.getConfig.config
    },
    getOnOff () {
      this.functionOn = this.getConfig.function_on
    }
  },
  beforeDestroy () {
    document.querySelectorAll('[role="alertdialog"]').forEach(function (elem) {
      elem.parentNode.removeChild(elem)
    })

    this.$store.commit(this.appName + '/cleanUpConfig')
  }
}
</script>

<style>
.timeline {
  margin: 50px 0;
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
  overflow: auto;
}
.timeline li {
  transition: all 200ms ease-in;
}
.timestamp {
  width: 200px;
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 4px solid #3e70ff;
  position: relative;
  transition: all 200ms ease-in ;
}

.status span {
  font-weight: 600;
  padding-top: 20px;
  cursor: pointer;
}
.status span:before {
  content: '';
  width: 25px;
  height: 25px;
  background-color: #e8eeff;
  border-radius: 25px;
  border: 4px solid #3e70ff;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

</style>
