<template>
  <div class="modal-card" >
    <section class="modal-card-head">
      <h3 class="title has-text-centered">Additional Attributes Settings</h3>
    </section>

    <section class="modal-card-body">

      <b-field horizontal label="Table Headers">
        <b-checkbox v-model="columnsVisibleAll" @change.native="setSingleHeader()">
            All
        </b-checkbox>
      </b-field>

      <b-field horizontal  v-for="(column, index) in columnsVisible" :key="index" label="">
        <b-checkbox v-model="column.display" @change.native="checkForAllTigger()">
          {{ column.title }}
        </b-checkbox>
      </b-field>

      <b-field horizontal label="Exact Search">
        <b-checkbox v-model="exactSearch">
        </b-checkbox>
      </b-field>

    </section>
    <section class="modal-card-foot">
      <b-button type="is-primary " @click="closeModal()">
        Save
      </b-button>
    </section>
  </div>
</template>

<script>
export default {
  data () {
    return {
      columnsVisibleAll: false,
      columnsVisible: {
        number: { title: 'CAD Number', display: true },
        version: { title: 'Version', display: true },
        lifecycle: { title: 'Lifecycle', display: true },
        authoringApplication: { title: 'Authoring Application', display: true },
        modifiedOn: { title: 'Modified On', display: true }
      },
      exactSearch: true
    }
  },
  methods: {
    closeModal () {
      var columnsVisible = {}
      var rowNames = Object.keys(this.columnsVisible)
      for (var rowIndex = 0; rowIndex < rowNames.length; rowIndex++) {
        columnsVisible[rowNames[rowIndex]] = this.columnsVisible[rowNames[rowIndex]].display
      }
      this.$store.dispatch('setUserSettings', {
        force: true,
        customattributes: {
          columnsVisible: columnsVisible,
          exactSearch: this.exactSearch
        }
      })
      this.$parent.close()
    },
    checkForAllTigger () {
      var answerList = []
      const allKeys = Object.keys(this.columnsVisible)
      for (var key in allKeys) {
        answerList.push(this.columnsVisible[allKeys[key]].display)
      }
      const uniqueValues = answerList.filter((value, index, self) => self.indexOf(value) === index)

      if (uniqueValues.length === 1) {
        this.columnsVisibleAll = uniqueValues[0]
      } else {
        this.columnsVisibleAll = false
      }
    },
    setSingleHeader () {
      const allKeys = Object.keys(this.columnsVisible)
      for (var key in allKeys) {
        if (this.columnsVisibleAll) {
          this.columnsVisible[allKeys[key]].display = true
        } else {
          this.columnsVisible[allKeys[key]].display = false
        }
      }
    },
    setSettings (settings) {
      for (var app in settings.columnsVisible) {
        this.columnsVisible[app].display = settings.columnsVisible[app]
      }
    }
  },
  watch: {
  },
  mounted () {
    this.setSettings(this.$store.state.settings.customattributes)
  }
}
</script>
