<template>
  <div>
    <div class="columns is-multiline">
      <div class="column is-full-tablet is-full-desktop is-full-widescreen is-full-fullhd">

        <b-field grouped>
          <b-select v-model="perPage">
            <option value="5">5 per page</option>
            <option value="10">10 per page</option>
            <option value="15">15 per page</option>
            <option value="20">20 per page</option>
          </b-select>

        <b-tooltip
            label="Add new user"
            :delay="500">
            <b-button class="button is-primary" @click="onNew" size="is-medium">
                <b-icon
                    icon="account-plus"
                    size="is-medium">
                </b-icon>
            </b-button>
          </b-tooltip>
        </b-field>

        <!--button class="button is-warning" type="button" @click="onNew()">New</button-->
        <b-table
            :data="getfetchedData"
            :hoverable="true"
            :loading="loading"
            :per-page="perPage"
            :paginated="true"
            :pagination-simple="true">
            <!-- isgroup -->
            <b-table-column field="isgroup"
              :label="$i18n.t('usermanagement.eligabletable.isgroup')"
              sortable
              v-slot="props">
              <div class="field">
                  <b-checkbox v-model="props.row['isgroup']"></b-checkbox>
              </div>
            </b-table-column>
              <b-table-column field="username" :label="$i18n.t('usermanagement.eligabletable.usergroupname')" sortable v-slot="props">
                {{props.row['username']}}
            </b-table-column>
            <!-- UserManagement -->
            <b-table-column field="usermanagement"
              :label="rowName('usermanagement')"
              sortable
              v-slot="props">
                <span v-for="element in props.row.usermanagement" :key="element">
                  <span :class="tagStyle(element)">{{realName(element)}}</span>
                </span>
            </b-table-column>
            <!-- publishqueuemanager -->
            <b-table-column field="publishqueuemanager"
              :label="rowName('publishqueuemanager')"
              sortable
              v-slot="props">
                <span v-for="element in props.row.publishqueuemanager" :key="element">
                  <span :class="tagStyle(element)">{{realName(element)}}</span>
                </span>
            </b-table-column>
            <!-- neutraldata -->
            <b-table-column field="neutraldata"
              :label="rowName('neutraldata')"
              sortable
              v-slot="props">
                <span v-for="element in props.row.neutraldata" :key="element">
                  <span :class="tagStyle(element)">{{realName(element)}}</span>
                </span>
            </b-table-column>
            <!-- customattributes -->
            <b-table-column field="customattributes"
              :label="rowName('customattributes')"
              sortable
              v-slot="props">
                <span v-for="element in props.row.customattributes" :key="element">
                  <span :class="tagStyle(element)">{{realName(element)}}</span>
                </span>
            </b-table-column>
            <!-- sapchecker -->
            <b-table-column field="sapchecker"
              :label="rowName('sapchecker')"
              sortable
              v-slot="props">
                <span v-for="element in props.row.sapchecker" :key="element">
                  <span :class="tagStyle(element)">{{realName(element)}}</span>
                </span>
            </b-table-column>
            <!-- publishfromlist -->
            <b-table-column field="publishfromlist"
              :label="rowName('publishfromlist')"
              sortable
              v-slot="props">
                <span v-for="element in props.row.publishfromlist" :key="element">
                  <span :class="tagStyle(element)">{{realName(element)}}</span>
                </span>
            </b-table-column>
            <!-- workerstatus -->
            <b-table-column field="publishmonitor"
              :label="rowName('publishmonitor')"
              sortable
              v-slot="props">
                <span v-for="element in props.row.publishmonitor" :key="element">
                  <span :class="tagStyle(element)">{{realName(element)}}</span>
                </span>
            </b-table-column>
            <!-- publishfromlist -->
            <b-table-column field="synchronizer"
              :label="rowName('synchronizer')"
              sortable
              v-slot="props">
                <span v-for="element in props.row.synchronizer" :key="element">
                  <span :class="tagStyle(element)">{{realName(element)}}</span>
                </span>
            </b-table-column>
            <b-table-column label="Actions">
            <button class="button is-info" @click.prevent="onEdit(props)">
              <b-icon icon="account-edit"></b-icon>
            </button>
            <button class="button is-danger" @click.prevent="onDelete(props)">
              <b-icon icon="trash-can"></b-icon>
            </button>
          </b-table-column>
      </b-table>
    </div>
</div>
    <div class="column is-full-tablet is-full-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
        <div class="container">
          <time-line :timelineData="$store.state.usermanagement.history" :appName="appName"></time-line>
        </div>
    </div>
  </div>
</template>

<script>
import ProductUser from '../components/ProductUser.vue'
import TimeLine from '@/components/TimeLine'

export default {
  name: 'EligibaleTable',
  components: {
    TimeLine
  },
  props: {
    loading: {
      type: Boolean
    },
    tableData: {
      type: Array
    }
  },
  data () {
    return {
      lang: this.$store.state.language,
      perPage: '15',
      appName: 'usermanagement'
    }
  },
  methods: {
    onDelete (row) {
      if (this.isLegit.config) {
        if (row.row.username === 'Administrators') {
          this.$buefy.toast.open({
            duration: 5000,
            message: 'Nobody deletes the Administrator!! Not even HippenPower',
            position: 'is-bottom',
            type: 'is-danger'
          })
        } else {
          this.$store.commit('usermanagement/deleteUser', row)
        }
      } else {
        this.failedMessage('You are not allowed to change the config')
      }
    },
    onEdit (row) {
      if (this.isLegit.config) {
        this.$store.commit('usermanagement/setUserToEdit', row)
        this.$buefy.modal.open({
          parent: this,
          component: ProductUser,
          hasModalCard: true,
          customClass: 'custom-class custom-class-2',
          trapFocus: true,
          props: { },
          width: '800px'
        })
      } else {
        this.failedMessage('You are not allowed to change the config')
      }
    },
    onNew () {
      if (this.isLegit.config) {
        var userPermission = {}
        const allApps = Object.keys(this.getRealHeaders)
        allApps.forEach(element => {
          userPermission[element] = ['nopermission']
        })
        this.$store.commit('usermanagement/addNewUser', userPermission)
      } else {
        this.failedMessage('You are not allowed to change the config')
      }
    },
    realName: function (internalName) {
      var labelName = ''
      labelName = this.$i18n.t('visibilitymodes.' + internalName)
      return labelName
    },
    rowName (internalName) {
      var labelName = ''
      labelName = this.$i18n.t('apps.' + internalName + '.label')
      return labelName
    },
    tagStyle (permissionName) {
      if (permissionName === 'adminpermission' || permissionName === 'functionfullpermission' || permissionName === 'configfullpermission') {
        return 'tag is-success'
      }
      if (permissionName === 'readonly' || permissionName === 'functionreadonly' || permissionName === 'configreadonly') {
        return 'tag is-warning'
      }
      if (permissionName === 'nopermission') {
        return 'tag is-danger'
      }
    },
    successMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: 'JSON Config loaded successfully',
        position: 'is-bottom',
        type: 'is-success'
      })
    },
    failedMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-danger'
      })
    }
  },
  computed: {
    isLegit () {
      return this.$store.getters.isLegit('usermanagement')
    },
    getfetchedData () {
      return this.$store.state.usermanagement.fetchedData
    },
    getRealHeaders () {
      return this.$store.state.apps
    },
    getCompareProps: function () {
      return { newJson: this.json }
    }
  }
}
</script>
<style>
.table-wrapper { overflow: auto; padding-top: 4rem; margin-top: -4rem; }
</style>
