<template>
  <fullscreen :fullscreen.sync="fullscreen" background="white">
  <div class="is-fullheight">
    <button class="button" type="button" @click="toggle">
      <b-icon
        size="is-large"
        icon="fullscreen">
      </b-icon></button>
    <br>
    <br>
    <div class="columns is-mobile is-centered">
      <div class="column is-full">
        <div class="buttons">
        <button class="button is-primary" type="button" @click="toggle">get</button>
        <button class="button is-primary" type="button" @click="toggle">set</button>
        <button class="button is-primary" type="button" @click="toggle">download</button>
        <button class="button is-primary" type="button" @click="toggle">upload</button>
        </div>
        <v-jsoneditor v-model="json" :options="options" height="500px" @error="onError" />
      </div>
    </div>
  </div>
  </fullscreen >
</template>

<script>
import VJsoneditor from 'v-jsoneditor/src/index'
import testJson from '../json_files/gia_apps_products'
export default {
  name: 'app',
  components: {
    VJsoneditor
  },
  data () {
    return {
      options: {
        mode: 'tree'
        // modes: ['code', 'tree', 'preview']
      },
      json: testJson,
      fullscreen: false
    }
  },
  methods:
   {
     onError () {
       // console.log('error')
     },
     toggle () {
       this.fullscreen = !this.fullscreen
     }
   }
}
</script>

<style>
.content table th {
  border: 0px
}
</style>
