<template>
  <div>
    <b-field grouped group-multiline>
      <p class="control">
      <b-tooltip
        label="Upload TextFile"
        :delay="500">
        <b-field class="file">
          <b-upload v-model="file"
          drag-drop="true"
          native="true">
            <a class="button is-primary is-medium" size="is-medium">
              <b-icon icon="upload"
                size="is-medium">
              </b-icon>
            </a>
          </b-upload>
        </b-field>
      </b-tooltip>
      </p>
    </b-field>

    <br />

    <b-table
      :data="tableData"
      :loading="loading"
      >
      <template slot-scope="props">
        <b-table-column field="host" label="host">
          {{ props.row.host }}
        </b-table-column>
        <b-table-column field="valid_until" label="valid_until">
          {{ props.row.valid_until }}
        </b-table-column>
      </template>
    </b-table>

  </div>
</template>

<script>
import LicenseParser from '../services/licenseparser'
export default {
  name: 'LicenseValidation',
  data () {
    return {
      file: null,
      loading: false,
      tableEmptyMessage: 'No file loaded',
      tableData: []
    }
  },
  methods: {
  },
  watch: {
    file () {
      const promise = new Promise((resolve, reject) => {
        const reader = new FileReader()
        var vm = this
        reader.onload = e => {
          resolve((vm.fileinput = reader.result))
        }
        reader.readAsText(this.file)
      })
      promise.then(result => {
        this.loading = true
        const hello = new LicenseParser(result)
        hello.getLicensedApplications()
          .then(licenses => {
            this.tableData = JSON.parse(JSON.stringify(licenses))
            this.tableData.forEach(tableitem => {
            })
          })
          .finally(() => {
            this.loading = false
            this.file = null
          })
      })
    }
  },
  computed: {
    isLegit () {
      return this.$store.getters.isLegit('synchronizer')
    },
    getData () {
      return this.tableData
    }
  }
}
</script>

<style>
.table-wrapper {
  overflow: auto;
  padding-top: 4rem;
  margin-top: -4rem;
}
.subtable {
  background-color: #5e6d6f;
}
</style>
