<template>
  <div class="columns is-multiline is-desktop">
    <div class="column is-one-quarter has-overflow">
      <b-tabs
        v-model="activeTab"
        vertical>
        <template v-for="tab in logFiles">
            <b-tab-item
              :key="tab.path"
              :value="tab.tab"
              :label="tab.filename"
              :icon="getIcon(tab)">
            </b-tab-item>
        </template>
      </b-tabs>
    </div>
    <div class="column is-three-quarters">
      <log-streams />
    </div>
  </div>
</template>

<script>
import LogStreams from '../components/LogStreams'

export default {
  components: {
    LogStreams
  },
  data () {
    return {
      activeTab: 0
    }
  },
  methods: {
    getIcon (tab) {
      switch (tab.tag) {
        case 'new':
          return 'new-box'
        case 'update':
          return 'update'
      }
    }
  },
  watch: {
    activeTab: function () {
      this.$store.commit('loglevel/setActiveTab', this.activeTab)
    }
  },
  computed: {
    logFiles () {
      return this.$store.state.loglevel.logFiles
    }
  }
}
</script>

<style>
.has-overflow {
  overflow: auto;
}
</style>
