<template>

  <div>
    <!--b-field horizontal>
      <b-input placeholder="Search in all Log Files..." type="search" v-model="searchString"></b-input>
      <p class="control">
          <b-button class="button is-primary" @click="searchInAllLofFiles">Search</b-button>
      </p>
      <p class="control">
          <b-button class="button is-primary">Search</b-button>
      </p>
    </b-field-->

    <div class="columns is-multiline">

      <div class="column is-full-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
        <b-input placeholder="Search..." type="search" v-model="searchFile"></b-input>
        <br />
        <div class="field">
            <b-checkbox v-model="onlyNewFiles">Only new log files</b-checkbox>
        </div>

        <b-table
            :data="fileNameList"
            :paginated="true"
            per-page="10">
          <template slot-scope="props">
            <b-table-column field="filename"
              label="Log Level" sortable>
              {{props.row.convertedTime}}
            </b-table-column>
            <b-table-column field="filename"
              label="Load">
              <b-button @click="getLogContent(props.row.filename)">
                Load
              </b-button>
            </b-table-column>
          </template>
        </b-table>
        <!--div class="list is-hoverable" v-for="filename in fileNameList" :key="filename.timestamp">
            <a class="list-item" @click="getLogContent(filename)">
              <div>{{filename.convertedTime}}</div>
              <div>{{filename.filename}}</div>
            </a>
            <b-loading :is-full-page="loadingListFullScreen" :active.sync="loadingList" :can-cancel="true"></b-loading>
        </div-->
      </div>

      <div class="column is-full-tablet is-three-quarters-desktop is-three-quarters-widescreen is-three-quarters-fullhd">
        <div>
           <b-field horizontal>
             <b-select v-model="perPage">
                <option value="5">5 per page</option>
                <option value="10">10 per page</option>
                <option value="15">15 per page</option>
                <option value="20">20 per page</option>
            </b-select>
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" v-model="searchString" type="text" placeholder="Find in messages...">
            </p>
          </div>
          <b-field>
            <b-select placeholder="Select Log Level" v-model="selectedLogLevel">
              <option value="fatal">Fatal</option>
              <option value="error">Error</option>
              <option value="info">Info</option>
              <option value="debug">Debug</option>
              <option value="trace">Trace</option>
              <option value="all">All</option>
            </b-select>
          </b-field>
           </b-field>

          <b-table
            :data="filteredData"
            :loading="loading"
            :row-class="(row, index) => rowStyler(row)"
            :per-page="perPage"
            :paginated="true"
            :pagination-simple="true">
            <template slot-scope="props">
              <b-table-column field="level"
                label="Log Level">
                <span :class="'tag ' + rowStyler(props.row)">
                  {{intToString(props.row.level)}}
                </span>
              </b-table-column>
              <b-table-column field="message"
                label="Message">
                {{props.row.message}}
              </b-table-column>
              <b-table-column field="timestamp"
                label="Timestamp"
                sortable>
                {{props.row.timestamp}}
              </b-table-column>
              <b-table-column field="index"
                label="Index"
                sortable>
                {{props.row.index}}
              </b-table-column>
            </template>
          </b-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { apiService } from '@/api'
export default {
  props: { appName: String },
  data () {
    return {
      loading: false,
      loadingList: false,
      loadingListFullScreen: false,
      logFileContent: [],
      selectedLogLevel: 'all',
      searchString: '',
      searchFile: '',
      format: 'DD.MM.YYYY hh:mm',
      fileNameList: [],
      perPage: '15',
      logFileContentDisplayed: false,
      onlyNewFiles: false
    }
  },
  mounted () {
    // this.$store.dispatch(this.appName + '/subscribeForLogUpdate', this.appName)
  },
  methods: {
    intToString (intValue) {
      var stringLevel = ''
      if (intValue === 0) {
        stringLevel = 'Fatal'
      }
      if (intValue === 1) {
        stringLevel = 'Error'
      }
      if (intValue === 2) {
        stringLevel = 'Info'
      }
      if (intValue === 3) {
        stringLevel = 'Debug'
      }
      if (intValue === 4) {
        stringLevel = 'Trace'
      }
      if (intValue === 5) {
        stringLevel = 'All'
      }
      return stringLevel
    },
    StringToInt (stringValue) {
      var intLevel = 10
      stringValue = stringValue.toLowerCase()

      if (stringValue === 'fatal') {
        intLevel = 0
      }
      if (stringValue === 'error') {
        intLevel = 1
      }
      if (stringValue === 'info') {
        intLevel = 2
      }
      if (stringValue === 'debug') {
        intLevel = 3
      }
      if (stringValue === 'trace') {
        intLevel = 4
      }
      if (stringValue === 'all') {
        intLevel = 5
      }
      return intLevel
    },
    rowStyler (row) {
      if (row.level === 1 || row.level === 0) {
        return 'is-danger !important'
      }
      if (row.level === 2) {
        return 'is-warning'
      }
    },
    successMessage () {
      this.$buefy.toast.open({
        duration: 5000,
        message: 'JSON Config loaded successfully',
        position: 'is-bottom',
        type: 'is-success',
        queue: true
      })
    },
    failedMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-danger'
      })
    },
    convertFileNameList () {
      var searchList = []
      this.getLogFiles.forEach(element => {
        var convertedTime = moment(new Date(element.timestamp)).format(this.format)
        if (convertedTime.indexOf(this.searchFile) >= 0 || element.filename.indexOf(this.searchFile) >= 0) {
          var theElement = JSON.parse(JSON.stringify(element))
          theElement.convertedTime = convertedTime

          if (this.onlyNewFiles) {
            if (element.is_new) {
              searchList.push(theElement)
            }
          } else {
            searchList.push(theElement)
          }
        }
      })
      searchList.sort(function (a, b) { return b.timestamp - a.timestamp })
      this.fileNameList = searchList
    },
    buildSearchHeader (listItem) {
      this.loading = true
      return new Promise((resolve, reject) => {
        const body = {
          app: this.appName,
          filename: listItem.filename
        }
        resolve(body)
      })
    },
    setItemActive (listItem) {
      this.logFileContentDisplayed = true
      var index = this.getLogFiles.findIndex(x => x.timestamp === listItem.timestamp)

      var allItems = document.getElementsByClassName('list-item')
      for (var item in allItems) {
        if (item < allItems.length) {
          // convert to number (why the fuck do you need to, i don't know ==> 'https://stackoverflow.com/questions/9094299/issue-with-comparing-two-numbers-in-javascript')
          if (+item === +index) {
            allItems[item].classList.add('is-active')
          } else {
            allItems[item].classList.remove('is-active')
          }
        }
      }
    },
    getLogContent (listItem) {
      this.setItemActive(listItem)
      this.buildSearchHeader(listItem)
        .then(body => apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'getlogs.jsp', body))
        .then(data => {
          this.loading = false
          // this.logFileContent = []
          this.splitLogContent(data)
        })
        .catch(() => {
          this.failedMessage('logfile not found')
          this.logFileContent = []
        })
        .finally(() => {
          this.stopLoader()
        })
    },
    stopLoader () {
      this.loading = false
    },
    splitLogContent (content) {
      const datumLength = 23
      const splittedContent = content.content.split('\n')
      var convertedContent = []
      splittedContent.forEach((element, index) => {
        // check that line is longer than datum timestamp, first 3 characters are number and not starting with empty value
        if (element.length > datumLength + 5 && !isNaN(element.substring(0, 3)) && element[0].indexOf(' ') === -1) {
          const rawTimestamp = element.substring(0, datumLength)
          const timestamp = moment(rawTimestamp).format(this.format)
          const message = element.substring(element.indexOf('-', datumLength) + 1, element.length)
          const leftover = element.substring(23, element.indexOf('-', datumLength) + 1)
          const levelString = (leftover.split(' '))[1]
          const level = this.StringToInt(levelString)
          convertedContent.push({ timestamp: timestamp, message: message, level: level, index: index })
        }
      })
      this.logFileContent = convertedContent
    }
  },
  computed: {
    filteredData: function () {
      var filteredElements1 = []
      var filteredElements2 = []

      this.logFileContent.forEach(element => {
        if (element.level <= this.StringToInt(this.selectedLogLevel)) {
          filteredElements1.push(element)
        }
      })

      filteredElements1.forEach(element => {
        if (element.message.toLowerCase().indexOf(this.searchString) >= 0) {
          filteredElements2.push(element)
        }
      })

      if (filteredElements2.length === 0) {
        filteredElements2.push({ message: 'nothing loaded' })
      }

      return filteredElements2
    },
    getLogFiles () {
      return this.$store.state[this.appName].fetchedLogs.logs
    },
    getNewLogFile () {
      return this.$store.state[this.appName].newLogFiles
    }
  },
  watch: {
    searchFile () {
      this.convertFileNameList()
    },
    getLogFiles () {
      this.convertFileNameList()
      if (!this.logFileContentDisplayed) {
        this.getLogContent(this.getLogFiles[0])
      }
    },
    onlyNewFiles () {
      this.convertFileNameList()
    }
  }
}
</script>

<style>
.list {
max-height: 600px;
overflow-y: auto;
}
</style>
