<template>
  <div class="modal-card" >
      <section class="modal-card-head">
          <h3 class="title has-text-centered">Windchill Login</h3>
      </section>
        <section class="modal-card-body">
            <div class="box">
                 <form action="">
                    <b-field :label="$t('login.username')">
                        <b-input ref="windchillusername" v-model="username" placeholder="Windchill username">
                        </b-input>
                    </b-field>

                    <b-field :label="$t('login.password')" @keyup.native.enter="doLogin()">
                        <b-input v-model="password" type="password" placeholder="Password" password-reveal>
                        </b-input>
                    </b-field>

                    <b-checkbox v-model="remember">
                      {{$t('login.remember_me')}}
                    </b-checkbox>
                 </form>
                    <br />
                    <b-button type="is-primary" expanded @click="doLogin()">
                        {{$t('login.login')}}
                    </b-button>
                </div>
        </section>
        <section class="modal-card-foot">
          <div v-if="isMocking">
            <h3 class="has-text-warning is-family-code has-text-centered is-size-4">Mocked Windchill (fake Backend)</h3>
          </div>
          <div v-else>
            <h3>{{baseUrl}}</h3>
          </div>
        </section>
        <b-loading :is-full-page="isFullPage" :active.sync="loading" :can-cancel="true"></b-loading>
    </div>
</template>

<script>
import router from '../router/index.js'
import { userService } from '../services'

export default {
  name: 'LoginModal',
  data () {
    return {
      username: '',
      password: '',
      isFullPage: false,
      loading: false,
      baseUrl: process.env.VUE_APP_BASE_URL,
      remember: true
    }
  },
  created () {
    // reset login status
    // userService.logout()
    // console.log(process.env.VUE_APP_BASE_URL)
    // get return url from route parameters or default to '/'
    this.returnUrl = this.$route.query.returnUrl || '/'
  },
  mounted () {
    this.focusInput()
  },
  computed: {
    isMocking () {
      if (process.env.VUE_APP_MOCK_API) {
        if (process.env.VUE_APP_MOCK_API.toLowerCase() === 'true') {
          return true
        }
      }
      return false
    }
  },
  methods: {
    closeModal () {
      this.$parent.close()
    },
    doLogin () {
      this.loading = true
      userService.login(this.username, this.password, this.remember)
        .then(user => { router.push(this.returnUrl); this.$parent.close() },
          error => {
            this.error = error
            this.loading = false
            this.password = ''
            this.danger()
          }
        )
    },
    danger () {
      this.$buefy.toast.open({
        duration: 5000,
        message: this.error,
        position: 'is-bottom',
        type: 'is-danger'
      })
    },
    openLoading () {
      this.isLoading = true
      setTimeout(() => {
        this.isLoading = false
      }, 10 * 1000)
    },
    focusInput () {
      this.$refs.windchillusername.focus()
    }
  }
}
</script>

<style>

</style>
