<template>
<div>
    <b-collapse
        class="card"
        animation="slide"
        v-for="(collapse, name, index) in getLogStatus"
        :key="name"
        :open="isOpen == index"
        @open="isOpen = index">
        <div
            slot="trigger"
            slot-scope="props"
            class="card-header"
            role="button">
            <p class="card-header-title">
                {{ name }}
            </p>
            <a class="card-header-icon">
                <b-icon
                    :icon="props.open ? 'menu-down' : 'menu-up'">
                </b-icon>
            </a>
        </div>
        <div class="card-content">
            <div class="content2">
              <b-field v-for="logger in collapse['prod']" :key="name + logger.path" :label="logger.path">
                  <b-select v-model="logger.requested_level" @input="ev => changed(ev, logger)">
                    <option value="FATAL">Fatal</option>
                    <option value="ERROR">Error</option>
                    <option value="INFO">Info</option>
                    <option value="DEBUG">Debug</option>
                    <option value="TRACE">Trace</option>
                    <option value="ALL">All</option>
                  </b-select>
                </b-field>
              </div>
        </div>
    </b-collapse>
  </div>
</template>

<script>
import { apiService } from '../api'
export default {
  data () {
    return {
      isOpen: 0,
      request: null
    }
  },
  methods: {
    changed (ev, logger) {
      var payload = JSON.parse(JSON.stringify(logger))
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'loghandling/loglevel.jsp', payload)
        .then(data => {
          if (data.error) {
            this.failedMessage('could not set logger of: ' + logger.path)
          } else {
            this.successMessage('logger ' + logger.path + ' set to ' + payload.requested_level)
          }
        })
    },
    failedMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-danger'
      })
    },
    successMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-success'
      })
    }
  },
  computed: {
    getLogStatus () {
      return this.$store.state.loglevel.loggerConfig
    }
  },
  watch: {
  }
}
</script>

<style>

</style>
