<template>
  <div>
   <b-field horizontal>
      <b-select v-model="perPage">
        <option value="5">5 per page</option>
        <option value="10">10 per page</option>
        <option value="15">15 per page</option>
        <option value="20">20 per page</option>
      </b-select>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" v-model="$store.state.loglevel.searchString" type="text" placeholder="Find in messages...">
        </p>
      </div>
      <b-field>
        <b-select placeholder="Select Log Level" v-model="$store.state.loglevel.selectedLogLevel">
          <option value=0>Fatal</option>
          <option value=1>Error</option>
          <option value=2>Info</option>
          <option value=3>Debug</option>
          <option value=4>Trace</option>
          <option value=10>All</option>
        </b-select>
      </b-field>
    </b-field>

          <b-table
            :data="LogContent"
            :loading="$store.state.loglevel.loadingLogFile"
            :per-page="perPage"
            :paginated="true"
            :pagination-simple="true">
              <b-table-column field="level"
                label="Log Level"
                v-slot="props">
                <span :class="'tag ' + rowStyler(props.row)">
                  {{intToString(props.row.level)}}
                </span>
              </b-table-column>
              <b-table-column field="message"
                label="Message"
                v-slot="props">
                {{props.row.message}}
              </b-table-column>
              <b-table-column field="timestamp"
                label="Timestamp"
                sortable
                v-slot="props">
                {{props.row.timestamp}}
              </b-table-column>
              <b-table-column field="index"
                label="Index"
                sortable
                v-slot="props">
                {{props.row.index}}
              </b-table-column>
          </b-table>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  data () {
    return {
      loading: false,
      loadingList: false,
      loadingListFullScreen: false,
      logFileContent: [],
      selectedLogLevel: 10,
      searchString: '',
      searchFile: '',
      format: 'DD.MM.YYYY hh:mm',
      fileNameList: [],
      perPage: '15',
      logFileContentDisplayed: false,
      onlyNewFiles: false
    }
  },
  mounted () {
  },
  methods: {
    stopLoader () {
      this.loading = false
    },
    intToString (intValue) {
      var stringLevel = 'undefined'
      if (intValue === 0) {
        stringLevel = 'Fatal'
      }
      if (intValue === 1) {
        stringLevel = 'Error'
      }
      if (intValue === 2) {
        stringLevel = 'Info'
      }
      if (intValue === 3) {
        stringLevel = 'Debug'
      }
      if (intValue === 4) {
        stringLevel = 'Trace'
      }
      if (intValue === 5) {
        stringLevel = 'All'
      }
      return stringLevel
    },
    StringToInt (stringValue) {
      var intLevel = 10
      stringValue = stringValue.toLowerCase()

      if (stringValue === 'fatal') {
        intLevel = 0
      }
      if (stringValue === 'error') {
        intLevel = 1
      }
      if (stringValue === 'info') {
        intLevel = 2
      }
      if (stringValue === 'debug') {
        intLevel = 3
      }
      if (stringValue === 'trace') {
        intLevel = 4
      }
      if (stringValue === 'all') {
        intLevel = 5
      }
      return intLevel
    },
    rowStyler (row) {
      if (row.level === 1 || row.level === 0) {
        return 'is-danger !important'
      }
      if (row.level === 2) {
        return 'is-warning'
      }
    }
  },
  computed: {
    LogContent () {
      var content = this.$store.getters['loglevel/getLogContent']
      if (content) {
        const datumLength = 23
        const splittedContent = content.split('\n')
        var convertedContent = []
        splittedContent.forEach((element, index) => {
          // check that line is longer than datum timestamp, first 3 characters are number and not starting with empty value
          if (element.length > datumLength + 5 && !isNaN(element.substring(0, 3)) && element[0].indexOf(' ') === -1) {
            const rawTimestamp = element.substring(0, datumLength)
            const timestamp = moment(rawTimestamp).format(this.format)
            const message = element.substring(element.indexOf('-', datumLength) + 1, element.length)
            const leftover = element.substring(23, element.indexOf('-', datumLength) + 1)
            const levelString = (leftover.split(' '))[1]
            const level = this.StringToInt(levelString)
            if (level <= this.$store.state.loglevel.selectedLogLevel) {
              if (message.indexOf(this.$store.state.loglevel.searchString) > -1) {
                convertedContent.push({ timestamp: timestamp, message: message, level: level, index: index })
              }
            }
          }
        })
        return convertedContent
      } else {
        return []
      }
    }
  }
}
</script>

<style>
.table-wrapper { overflow: auto; }
</style>
