<template>
  <div>
    <b-field grouped group-multiline>
      <p class="control">
      <b-tooltip
        label="Upload TextFile"
        :delay="500">
        <b-field class="file">
          <b-upload v-model="file"
          drag-drop="true"
          native="true">
            <a class="button is-primary is-medium" size="is-medium">
              <b-icon icon="upload"
                size="is-medium">
              </b-icon>
            </a>
          </b-upload>
        </b-field>
      </b-tooltip>
      </p>
      <p class="control">
        <b-tooltip
          label="Reread Input File"
          :delay="500">
          <b-button class="button is-primary" @click="restoreCopy" size="is-medium">
            <b-icon
              icon="page-next"
              size="is-medium">
            </b-icon>
          </b-button>
        </b-tooltip>
      </p>
      <p class="control">
        <b-tooltip
          label="Remove double entries"
          :delay="500">
          <b-button class="button is-primary" @click="removeDoubleEntries" size="is-medium">
            <b-icon
              icon="numeric-2-box-multiple"
              size="is-medium">
            </b-icon>
          </b-button>
        </b-tooltip>
      </p>
      <p class="control">
        <b-tooltip
          label="Start Synchronization"
          :delay="500">
          <b-button class="button is-primary" @click="sendPublishJob" size="is-medium">
            <b-icon
              icon="alpha-s-circle"
              size="is-medium">
            </b-icon>
          </b-button>
        </b-tooltip>
      </p>
    </b-field>

    <b-field grouped group-multiline>
      <p class="control">
        <b-checkbox v-model="will_publish">
          <span class="tag is-success"> Will be synchronized</span>
        </b-checkbox>
      </p>
      <p class="control">
      <b-checkbox v-model="not_publish">
        <span class="tag is-warning"> found but will not be synchronized</span>
      </b-checkbox>
      </p>
      <p class="control">
      <b-checkbox v-model="not_found">
        <span class="tag is-danger"> Not found</span>
      </b-checkbox>
      </p>
    </b-field>

    <br />

    <b-table
      :data="tableData"
      ref="table"
      :loading="loading"
      hoverable
      :opened-detailed="defaultOpenedDetails"
      detailed
      :detail-key="input">

        <b-table-column
          field="status"
          :visible="getStatus['status']"
          :label="$t('synchronizer.multisynchronize.column_headers.found')"
          sortable
          v-slot="props">
          {{props}}
          <span :class="tagStyle(props.row)"> </span>
        </b-table-column>

        <b-table-column v-for="head in getHeaders" :key="head"
          :visible="head.isVisible"
          :label="$t('synchronizer.multisynchronize.column_headers.' + head.internalName)"
          v-slot="props">
          {{props.row.input[head.api]}}
        </b-table-column>

        <b-table-column label="" v-slot="props">
        <div v-if="props.row.found" >
          <button class="button is-danger" @click.prevent="onDelete(props.row)">
            <b-icon icon="trash-can"></b-icon>
          </button>
        </div>
        </b-table-column>

      <template slot="detail" slot-scope="props" >
        <div v-if="ceckIfDetailAvailable(props.row)">
          <tr>
            <th>Object Type</th>
            <th>Name</th>
            <th>Number</th>
            <th>Version</th>
            <th v-for="header in getEdditedAttributes(props.row)" :key="header">
              {{ header }}
            </th>
          </tr>
          <tr v-for="item in props.row.synchronize_info.global_changed_items" :key="item.name">
              <td >{{ item.object_type }}</td>
              <td >{{ item.name }}</td>
              <td>{{ item.number }}</td>
              <td>{{ item.version }}</td>
              <td v-for="newAttribute in getEdditedAttributes(props.row)" :key="newAttribute">
                {{ getAttributeValue(item, newAttribute) }}
              </td>
          </tr>
        </div>
      </template>
      <template slot="empty">
        <section class="section">
          <div class="has-text-grey has-text-centered">
            <p>
              <b-icon
                icon="emoticon-sad"
                size="is-large">
              </b-icon>
            </p>
            <p>{{ tableEmptyMessage }}</p>
          </div>
        </section>
      </template>
    </b-table>

  </div>
</template>

<script>
import { apiService } from '../api/index'
import { TextParser } from '../services/parser/textparser'
import ShowProgress from './ShowProgress'

export default {
  name: 'MultiSynchronizer',
  data () {
    return {
      file: null,
      fileContent: null,
      loading: false,

      will_publish: true,
      not_found: true,
      not_publish: true,

      data: [],
      copyData: [],
      columnsVisible: {},
      tableData: [],
      tableEmptyMessage: 'No file loaded'
    }
  },
  methods: {
    tableContent () {
      this.tableData = []
      var rawTableData = JSON.parse(JSON.stringify(this.data))
      var exportTableData = []
      rawTableData.forEach((element, index, object) => {
        if (this.will_publish && this.tagStyle(element) === 'tag is-success') {
          exportTableData.push(element)
        }
      })

      rawTableData.forEach((element, index, object) => {
        if (this.is_found && this.tagStyle(element) === 'tag is-warning') {
          exportTableData.push(element)
        }
      })
      rawTableData.forEach((element, index, object) => {
        if (this.not_found && this.tagStyle(element) === 'tag is-danger') {
          exportTableData.push(element)
        }
      })

      if (exportTableData.length === 0) {
        this.tableEmptyMessage = 'No data found'
      }

      this.tableData = exportTableData
    },
    getEPMDocuments () {
      const body = { files: TextParser.parse(this.fileinput), publish: true }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'synchronizer/synchronizeinfo.jsp', body)
        .then()
    },
    tagStyle (status) {
      var keys = Object.keys(status)
      if (keys.includes('synchronize_info')) {
        if (status.synchronize_info.change_happened) {
          return 'tag is-success'
        } else {
          return 'tag is-warning'
        }
      }
      return 'tag is-danger'
    },
    ceckIfDetailAvailable (item) {
      if ('synchronize_info' in item) {
        if ('change_happened' in item.synchronize_info) {
          return true
        } else {
          return true
        }
      }
      return false
    },
    getAttributeValue (json, key) {
      var value = ''
      if ('new_attributes' in json) {
        if (key in json.new_attributes) {
          value = json.new_attributes[key]
        }
      }
      return value
    },
    getEdditedAttributes (item) {
      var headerList = []
      item.synchronize_info.global_changed_items.forEach(windchillObject => {
        if ('new_attributes' in windchillObject) {
          var allKeys = Object.keys(windchillObject.new_attributes)
          allKeys.forEach(key => {
            if (!headerList.includes(key)) {
              headerList.push(key)
            }
          })
        }
      })
      return headerList
    },
    onDelete (row) {
      if (this.isLegit.config) {
        this.data.forEach((element, index, object) => {
          if (element.input.object_id === row.input.object_id) {
            object.splice(index, 1)
          }
        })
      } else {
        this.failedMessage('You are not allowed to change the config')
      }
    },
    removeDoubleEntries () {
      this.data = this.data.filter((element, index, self) =>
        index === self.findIndex((t) => (
          t.input.object_id === element.input.object_id
        ))
      )
    },
    restoreCopy () {
      this.data = JSON.parse(JSON.stringify(this.copyData))
    },
    sendPublishJob () {
      this.$store.dispatch('initializeProgress', this.data.length)
      this.data.forEach(element => {
        this.showProgress('Synchronizing Data')
        var sendJob = { number: element.input.number, version: element.input.version, active_rename: true }
        apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'synchronizer/synchronizeinfo.jsp', sendJob)
          .then(this.$store.dispatch('updateProgress'))
      })
      alert('publish job sent')
    },
    failedMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-danger'
      })
    },
    showProgress (subTitle) {
      this.$buefy.modal.open({
        parent: this,
        component: ShowProgress,
        customClass: 'custom-class custom-class-2',
        hasModalCard: true,
        canCancel: false,
        props: {
          subTitle: subTitle
        }
      })
    }
  },
  watch: {
    file () {
      this.data = []
      const promise = new Promise((resolve, reject) => {
        const reader = new FileReader()
        var vm = this
        reader.onload = e => {
          resolve((vm.fileinput = reader.result))
        }
        reader.readAsText(this.file)
      })
      promise.then(result => {
        this.loading = true
        this.data = []
        this.copyData = []
        this.fileContent = TextParser.parse(this.fileinput)
        if (!this.fileContent.error) {
          try {
            this.$store.dispatch('initializeProgress', this.fileContent.length)
            this.maxNumberOfElements = this.fileContent.length
            this.showProgress('Searching for Synchronize Info')
            for (var itemID = 0; itemID < this.fileContent.length; itemID++) {
              const body = this.fileContent[itemID]
              apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'synchronizer/synchronizeinfo.jsp', body)
                .then(data => {
                  this.data.push(data.result)
                  this.copyData.push(JSON.parse(JSON.stringify(data.result)))
                  this.tableContent()
                  this.$store.dispatch('updateProgress')
                })
            }
            this.loading = false
            this.file = null
          } catch (error) {
            this.failedMessage(this.fileContent.error)
            this.loading = false
          }
        } else {
          this.failedMessage(this.fileContent.error)
          this.loading = false
        }
      })
    },
    will_publish () {
      this.tableContent()
    },
    is_found () {
      this.tableContent()
    },
    not_found () {
      this.tableContent()
    }
  },
  computed: {
    isLegit () {
      return this.$store.getters.isLegit('synchronizer')
    },
    getStatus () {
      return this.$store.state.settings.synchronizer.columnsVisible
    },
    getHeaders () {
      var allHeaders = this.$store.state.settings.synchronizer.columnsVisible
      const allHeaderKeys = Object.keys(allHeaders)
      var rebuiltHeaders = []
      allHeaderKeys.forEach(element => {
        var original = element
        if (element !== 'found') {
          for (var count = 0; count < element.length; count++) {
            var letter = element.charAt(count)
            if (letter !== letter.toLowerCase()) {
              element = element.replace(letter, '_' + letter.toLowerCase())
            }
          }
          rebuiltHeaders.push({ isVisible: allHeaders[original], api: element, internalName: original })
        }
      })
      return rebuiltHeaders
    }
  }
}
</script>

<style>
.table-wrapper {
  overflow: auto;
}
.subtable {
  background-color: #5e6d6f;
}
</style>
