<template>
  <div>
    <b-navbar class="is-black" fixed-top>
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ name: 'Home' }">
          <strong>GWA</strong>
        </b-navbar-item>
      </template>
      <template slot="start">

        <b-navbar-dropdown :label="$t('navbar.settings')">
          <b-navbar-item @click="setUserSettings()">
            {{$t('navbar.user_settings')}}
          </b-navbar-item>
          <b-navbar-item href="#">
            User Administration
          </b-navbar-item>
          <b-navbar-item @click="setPublishFromListSetting">
            Publish From List
          </b-navbar-item>
          <b-navbar-item @click="setAdditionalAttributesSettings">
            Custom Attributes
          </b-navbar-item>
        </b-navbar-dropdown>

        <b-navbar-dropdown :label="$t('navbar.info')">
          <b-navbar-item tag="router-link" :to="{ name: 'Version' }">
            {{$t('navbar.version')}}
          </b-navbar-item>
          <b-navbar-item tag="router-link" :to="{ name: 'LicenseValidation' }">
            License Validation
          </b-navbar-item>
        </b-navbar-dropdown>

        <b-navbar-item v-if="$store.state.loggedIn" tag="router-link" :to="{ name: 'Logs' }">
          Logs
        </b-navbar-item>
      </template>

      <template slot="end">
        <b-navbar-item tag="div">
          <div v-if="$store.state.loggedIn">
            {{$t('navbar.user')}}: {{ $store.state.user.userName }}
          </div>
        </b-navbar-item>
        <b-navbar-item tag="div">
          <div class="buttons">
            <div v-if="$store.state.loggedIn">
              <a class="button is-warning" @click="logOut"><strong>{{$t('navbar.logout')}}</strong></a>
            </div>
            <div v-else>
              <a class="button is-warning" @click="openLogin()"><strong>{{$t('login.login')}}</strong></a>
            </div>
          </div>
        </b-navbar-item>
      </template>

    </b-navbar>
  </div>
</template>

<script>
import LoginModal from '../components/Login'
import UserSettings from '../components/UserSettings'
import CustomAttributesSetting from '../components/CustomAttributesSetting'
import PublishFromListSetting from '../components/PublishFromListSetting'
import authentication from '../services/ssoauthentication'

export default {
  name: 'Navbar',
  data () {
    return {
    }
  },
  methods: {
    openLogin () {
      if (process.env.VUE_APP_USE_SSO.toLowerCase() === 'true') {
        authentication.signIn()
      } else {
        this.$buefy.modal.open({
          parent: this,
          component: LoginModal,
          customClass: 'custom-class custom-class-2',
          hasModalCard: true,
          trapFocus: true,
          props: {
          }
        })
      }
    },
    setUserSettings () {
      this.$buefy.modal.open({
        parent: this,
        component: UserSettings,
        customClass: 'custom-class custom-class-2'
      })
    },
    setAdditionalAttributesSettings () {
      this.$buefy.modal.open({
        parent: this,
        component: CustomAttributesSetting,
        customClass: 'custom-class custom-class-2',
        hasModalCard: true,
        trapFocus: true,
        props: {
        }
      })
    },
    setPublishFromListSetting () {
      this.$buefy.modal.open({
        parent: this,
        component: PublishFromListSetting,
        customClass: 'custom-class custom-class-2',
        hasModalCard: true,
        trapFocus: true,
        props: {
        }
      })
    },
    logOut () {
      this.$router.push({ name: 'Logout' })
    }
  }
}
</script>
<style>
</style>
