/<template>
    <form action="">
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Edit User Settings</p>
            </header>
            <section class="modal-card-body">
                <b-field label="Username">
                    <b-input
                        v-model="editableUser.username"
                        :placeholder="editableUser.username"
                        required>
                    </b-input>
                </b-field>
                <b-field>
                  <div class="field">
                <b-checkbox v-model="editableUser.isgroup">Is Group</b-checkbox>
            </div>
                </b-field>
                <b-field v-for="element in removeUserName" :key="element.id">
                    <template slot="label">
                      {{rowName(element.field)}}
                    </template>
                    <multiselect
                      v-model="editableUser[element.field]"
                      :options="getSelectOptions"
                      :custom-label="opt => realName(opt)"
                      :multiple="true"
                      :preselect-first="true"
                      @select="option => onSelect(option, editableUser[element.field])">
                    </multiselect>
                </b-field>
            </section>
            <footer class="modal-card-foot">
                <button class="button" type="button" @click="removeChange()">Discard</button>
                <button class="button is-primary" type="button" @click="acceptChange()">Change</button>
            </footer>
        </div>
    </form>
</template>

<script>
import visibilityModes from '../json_files/visibility_modes'
import Multiselect from 'vue-multiselect'
export default {
  components: { Multiselect },
  data: function () {
    return {
      editableUser: {}
    }
  },
  methods: {
    removeChange () {
      this.$parent.close()
    },
    acceptChange () {
      this.$store.commit('usermanagement/updateUser', this.editableUser)
      this.$parent.close()
    },
    realName: function (internalName) {
      var labelName = ''
      labelName = this.$i18n.t('visibilitymodes.' + internalName)
      return labelName
    },
    getEditableUser () {
      this.editableUser = JSON.parse(JSON.stringify(this.$store.state.usermanagement.editableUser))
    },
    onSelect (newPermission, permissions) {
      if (permissions) {
        permissions.reduceRight(function (acc, element, index, object) {
          if (newPermission === 'nopermission') {
            object.splice(index, 1)
          }
          if (newPermission === 'adminpermission') {
            object.splice(index, 1)
          }
          if (element === 'nopermission' && newPermission !== 'nopermission') {
            object.splice(index, 1)
          }
          if (element === 'adminpermission' && (newPermission !== 'nopermission' || newPermission !== 'adminpermission')) {
            object.splice(index, 1)
          }
        }, [])
      }
    },
    rowName (internalName) {
      var labelName = ''
      labelName = this.$i18n.t('apps.' + internalName + '.label')
      return labelName
    }
  },
  watch: {
  },
  mounted () {
    this.getEditableUser()
  },
  computed: {
    removeUserName () {
      const allApps = Object.keys(this.$store.state.apps)
      var installedApps = {}
      allApps.forEach(appName => {
        if (this.$store.state.apps[appName].isinstalled) {
          installedApps[appName] = this.$store.state.apps[appName]
        }
      })
      return installedApps
    },
    changedMadeUser () {
      return this.editableUser
    },
    getSelectOptions: function () {
      // const language = this.lang
      const copy = []
      visibilityModes.forEach(function (item) {
        copy.push(item.internal_name)
      })
      return copy
    }
  }

}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
</style>
