<template>
  <div class="modal-card" >
    <section class="modal-card-head">
      <h3 class="title has-text-centered">Publish From List Settings</h3>
    </section>

    <section class="modal-card-body">

      <b-field horizontal label="Table Headers">
        <b-checkbox v-model="columnsVisibleAll" @change.native="setSingleHeader()">
            All
        </b-checkbox>
      </b-field>

      <b-field horizontal  v-for="(column, index) in Object.keys(columnsVisible)" :key="index" label="">
        <b-checkbox v-model="columnsVisible[column]" @change.native="checkForAllTigger()">
          {{ $t('publishfromlist.textupload.column_headers.' + column) }}
        </b-checkbox>
      </b-field>

    </section>
    <section class="modal-card-foot">
      <b-button type="is-primary " @click="closeModal()">
        Save
      </b-button>
    </section>
  </div>
</template>

<script>
export default {
  data () {
    return {
      columnsVisibleAll: false,
      columnsVisible: [],
      exactSearch: true
    }
  },
  methods: {
    closeModal () {
      this.$store.dispatch('setUserSettings', {
        force: true,
        publishfromlist: {
          columnsVisible: this.columnsVisible
        }
      })
      this.$parent.close()
    },
    checkForAllTigger () {
      var answerList = []
      const allKeys = Object.keys(this.columnsVisible)
      for (var key in allKeys) {
        answerList.push(this.columnsVisible[allKeys[key]].display)
      }
      const uniqueValues = answerList.filter((value, index, self) => self.indexOf(value) === index)

      if (uniqueValues.length === 1) {
        this.columnsVisibleAll = uniqueValues[0]
      } else {
        this.columnsVisibleAll = false
      }
    },
    setSettings (settings) {

    }
  },
  watch: {
    getHeaders () {
      // this.columnsVisible = this.getHeaders()

    }
  },
  mounted () {
    // this.setSettings(this.$store.state.settings.publishfromlist)
    this.columnsVisible = this.$store.state.settings.publishfromlist.columnsVisible
  },
  computed: {
    getHeaders () {
      return true
    }
  }
}
</script>
