<template>
  <div class="modal-card" >
      <section class="modal-card-head">
          <h3 class="title has-text-centered">{{title}}</h3>
      </section>
        <section class="modal-card-body">
          <h4>{{subTitle}}</h4>
          <br />
            <b-progress
            :type="type"
            :size="size"
            :value="value"
            show-value>
            {{valueString}}
            </b-progress>
            <h4>Please wait...</h4>
        </section>
        <section class="modal-card-foot">
            <h3>{{baseUrl}}</h3>
        </section>
    </div>
</template>

<script>
export default {
  name: 'ShowProgress',
  props: {
    title: {
      type: String,
      default: ' Work Progress'
    },
    subTitle: {
      type: String,
      default: ''
    }
  },
  watch: {
    value () {
      if (this.value === '100') {
        this.$parent.close()
      }
    }
  },
  computed: {
    value () {
      if (this.$store.state.NumberOfProcessingElements !== 0) {
        return (this.$store.state.currentIndexOfElement / this.$store.state.NumberOfProcessingElements * 100).toFixed(0)
      } else {
        return 0
      }
    },
    valueString () {
      return 'processed: ' + this.$store.state.currentIndexOfElement + ' out of ' + this.$store.state.NumberOfProcessingElements + ' elements'
    }
  },
  data () {
    return {
      type: 'is-success',
      size: 'is-large',
      showValue: true,
      format: 'percent',
      tempValue: 0
    }
  },
  created () {
  },
  mounted () {
  },
  methods: {
  }
}
</script>

<style>

</style>
