<template>
  <div>
    <markdown-it-vue :content="content" />
  </div>
</template>

<script>
import MarkdownItVue from 'markdown-it-vue'
import NeutraldataDocs from '../doc_files/PublishFromList.txt'
export default {
  components: {
    MarkdownItVue
  },
  data () {
    return {
      content: NeutraldataDocs
    }
  }
}
</script>

<style>

</style>
