<template>
  <div>
    <div class="columns is-multiline is-fullhd">
      <div class="column is-three-quarters">
    <b-field label="Add a new Listener">
      <b-autocomplete
        v-model="name"
        :data="filteredDataObj"
        group-field="type"
        group-options="items"
        placeholder="e.g. POST_CHECKIN"
        open-on-focus
        keep-first
        clear-on-select
        append-to-body
        @select="option => selectListener(option)">
        <template slot="empty">No results for {{name}}</template>
        <template slot="group" slot-scope="props">
          <span class="has-text-link is-size-4">{{ props.group }} </span>
        </template>
      </b-autocomplete>
    </b-field>
      </div>

      <div class="column is-one-quarter">
        <b-field label="Push to Server">
      <b-button type="is-warning" @click="askForUpdate()">
        Update
      </b-button>
        </b-field>
      </div>
    </div>

    <b-table
      :data="activeListeners">
      <b-table-column field="id" label="Service Event" v-slot="props">
          {{ props.row.service_event }}
      </b-table-column>
      <b-table-column field="id2" label="Trigger" v-slot="props">
          {{ props.row.event }}
      </b-table-column>
      <b-table-column field="id3" label="Description" v-slot="props">
          {{ props.row.description }}
      </b-table-column>
      <b-table-column v-slot="props">
        <button class="button is-danger" @click.prevent="onDelete(props.row)">
            <b-icon icon="trash-can"></b-icon>
          </button>
      </b-table-column>
      <template slot="empty">
       <section class="section">
          <div class="has-text-grey has-text-centered">
            <p>
              <b-icon
                icon="emoticon-sad"
                size="is-large">
              </b-icon>
            </p>
            <p>No active Listener</p>
          </div>
        </section>
      </template>
    </b-table>
  </div>
</template>

<script>
import { apiService } from '../api'
export default {
  data () {
    return {
      name: '',
      availableListeners: [],
      activeListeners: []
    }
  },
  mounted () {
    this.getConfig()
  },
  methods: {
    selectListener (input) {
      this.availableListeners.forEach(element => {
        element.event_types.forEach(item => {
          if (item.event === input) {
            var newListener = item
            newListener.service_event = element.service_event
            var alreadyActive = false
            this.activeListeners.forEach(activeListener => {
              if (activeListener.event === input) {
                alreadyActive = true
              }
            })
            if (!alreadyActive) {
              this.activeListeners.push(newListener)
            }
          }
        })
      })
    },
    onDelete (row) {
      this.activeListeners.forEach((element, index, object) => {
        if (element.event === row.event) {
          object.splice(index, 1)
        }
      })
    },
    updateListener () {
      var payload = { events_to_be_loaded: this.activeListeners }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'synchronizer/synchronizerlistener.jsp', payload)
        .then(resp => {
          if (resp.error) {
            this.failedMessage(resp.error)
          } else {
            this.successMessage('Update of Listener succcessful')
          }
        })
    },
    getConfig () {
      apiService.getRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'synchronizer/synchronizerlistener.jsp')
        .then(resp => {
          this.availableListeners = resp.all_available_events
          this.activeListeners = resp.events_to_be_loaded
        })
    },
    failedMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-danger'
      })
    },
    successMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-success'
      })
    },
    askForUpdate () {
      this.$buefy.dialog.confirm({
        title: 'Updating Listener Events',
        message: 'Are you sure you want to <b>update</b> listener events? This action cannot be undone.',
        confirmText: 'Update Listener',
        type: 'is-warning',
        hasIcon: true,
        onConfirm: () => this.updateListener()
      })
    }
  },
  computed: {
    filteredDataObj () {
      const newData = []
      this.availableListeners.forEach(element => {
        var allItems = []
        element.event_types.forEach(item => {
          allItems.push(item.event)
        })
        newData.push({ type: element.service_event, items: allItems })
      })
      return newData
    }
  }
}
</script>

<style>

</style>
