<template>
  <div>
    <b-field grouped group-multiline>
      <p class="control">
      <b-tooltip
        label="Upload TextFile"
        :delay="500">
        <b-field class="file">
          <b-upload v-model="file"
          drag-drop="true"
          native="true">
            <a class="button is-primary is-medium" size="is-medium">
              <b-icon icon="upload"
                size="is-medium">
              </b-icon>
            </a>
          </b-upload>
        </b-field>
      </b-tooltip>
      </p>
      <p class="control">
        <b-tooltip
          label="Reread Input File"
          :delay="500">
          <b-button class="button is-primary" @click="restoreCopy" size="is-medium">
            <b-icon
              icon="page-next"
              size="is-medium">
            </b-icon>
          </b-button>
        </b-tooltip>
      </p>
      <p class="control">
        <b-tooltip
          label="Remove double entries"
          :delay="500">
          <b-button class="button is-primary" @click="removeDoubleEntries" size="is-medium">
            <b-icon
              icon="numeric-2-box-multiple"
              size="is-medium">
            </b-icon>
          </b-button>
        </b-tooltip>
      </p>
      <p class="control">
        <b-tooltip
          label="Send publish Job"
          :delay="500">
          <b-button class="button is-primary" @click="sendPublishJob" size="is-medium">
            <b-icon
              icon="alpha-p-circle"
              size="is-medium">
            </b-icon>
          </b-button>
        </b-tooltip>
      </p>
    </b-field>

    <!-- Main container -->
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <b-field grouped group-multiline>
          <p class="control">
            <b-checkbox v-model="rowPublish.will_publish">
              <span :class="tagStyle('will_publish')"> Will be published</span>
            </b-checkbox>
          </p>
          <p class="control">
          <b-checkbox v-model="rowPublish.not_publish">
            <span :class="tagStyle('not_publish')"> Is found but will not be published</span>
          </b-checkbox>
          </p>
          <p class="control">
          <b-checkbox v-model="rowPublish.not_found">
            <span :class="tagStyle('not_found')"> Not found</span>
          </b-checkbox>
          </p>
          <p class="control">
          <b-checkbox v-model="rowPublish.only_latest_version">
            Only Latest Versions
          </b-checkbox>
          </p>
        </b-field>
      </div>
      <!-- Right side -->
      <div class="level-right">
        <p class="level-item"><strong>Number of Objects: {{ tableContent.length }}</strong></p>
      </div>
    </nav>

    <br />

    <b-table
      :data="tableContent"
      ref="table"
      :loading="loading"
      hoverable
      >

        <b-table-column
          field="status"
          :visible="getStatus['status']"
          :label="$t('publishfromlist.textupload.column_headers.status')"
          sortable
          v-slot="props">
          <span :class="tagStyle(props.row.publish_state)"> </span>
        </b-table-column>

        <b-table-column v-for="head in getHeaders" :key="head.api"
          :visible="head.isVisible"
          :label="$t('publishfromlist.textupload.column_headers.' + head.internalName)"
          v-slot="props">
          {{props.row[head.api]}}
        </b-table-column>

        <b-table-column
          v-slot="props">
          <div v-if="props.row.publish_state==='will_publish'">
            <button class="button is-danger" @click.prevent="onDelete(props.row)">
              <b-icon icon="trash-can"></b-icon>
            </button>
          </div>
        </b-table-column>

    </b-table>

  </div>
</template>

<script>
import { apiService } from '../api/index'
import { TextParser } from '../services/parser/textparser'
import ShowProgress from './ShowProgress'

export default {
  name: 'TextUpload',
  data () {
    return {
      file: null,
      fileContent: null,
      loading: false,
      rowPublish: {
        will_publish: true,
        not_found: true,
        not_publish: true,
        only_latest_version: false
      },
      data: [],
      copyData: [],
      columnsVisible: {}
    }
  },
  mounted () {
    if (this.$store.state.currentIndexOfElement > 0) {
      this.$store.dispatch('initializeProgress', this.fileContent.length)
    }
  },
  methods: {
    getEPMDocuments () {
      const body = { files: TextParser.parse(this.fileinput), publish: true }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'textupload.jsp', body, 10 * 60 * 1000)
        .then()
    },
    tagStyle (status) {
      var style
      if (status === 'will_publish') {
        style = 'tag is-success'
      }
      if (status === 'not_publish') {
        style = 'tag is-warning'
      }
      if (status === 'not_found') {
        style = 'tag is-danger'
      }
      return style
    },
    onDelete (row) {
      if (this.isLegit.config) {
        this.data.forEach((element, index, object) => {
          if (element.epm_oid === row.epm_oid) {
            object.splice(index, 1)
          }
        })
      } else {
        this.failedMessage('You are not allowed to change the config')
      }
    },
    removeDoubleEntries () {
      this.data = this.data.filter((element, index, self) =>
        index === self.findIndex((t) => (
          t.epm_oid === element.epm_oid
        ))
      )
    },
    restoreCopy () {
      this.data = JSON.parse(JSON.stringify(this.copyData))
    },
    sendPublishJob () {
      var sendJobEntries = []
      this.data.forEach(element => {
        if (element.version) {
          sendJobEntries.push({ number: element.number, version: element.version })
        } else {
          sendJobEntries.push({ number: element.number })
        }
      })
      const body = { files: sendJobEntries, publish: true }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'textupload.jsp', body)
      alert('publish job sent')
    },
    failedMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-danger'
      })
    },
    showProgress (subTitle) {
      this.$buefy.modal.open({
        parent: this,
        component: ShowProgress,
        customClass: 'custom-class custom-class-2',
        hasModalCard: true,
        canCancel: false,
        props: {
          subTitle: subTitle
        }
      })
    }
  },
  watch: {
    file () {
      const promise = new Promise((resolve, reject) => {
        const reader = new FileReader()
        var vm = this
        reader.onload = e => {
          resolve((vm.fileinput = reader.result))
        }
        reader.readAsText(this.file)
      })
      promise.then(result => {
        this.loading = true
        this.fileContent = TextParser.parse(this.fileinput)
        this.$store.dispatch('initializeProgress', this.fileContent.length)
        this.showProgress('Searching for Publish From List Info')
        if (!this.fileContent.error && this.file !== null) {
          this.data = []
          this.fileContent.forEach(document => {
            document.publish = false
            apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'publishfromlist/textupload.jsp', document, 10 * 60 * 1000)
              .then(data => {
                this.data = this.data.concat(data.response.info)
                this.copyData = this.copyData.concat(JSON.parse(JSON.stringify(data.response.info)))
                this.$store.dispatch('updateProgress')
              })
              .catch(() => {
                this.failedMessage('Error in api response')
              })
              .finally(() => {
                this.loading = false
                this.file = null
              })
          })
        } else {
          this.failedMessage(this.fileContent.error)
          this.loading = false
        }
      })
    }
  },
  computed: {
    tableContent () {
      var newData = JSON.parse(JSON.stringify(this.data))
      if (!this.rowPublish.will_publish) {
        newData = newData.filter((item) => item.publish_state !== 'will_publish')
      }
      if (!this.rowPublish.not_found) {
        newData = newData.filter((item) => item.publish_state !== 'not_found')
      }
      if (!this.rowPublish.not_publish) {
        newData = newData.filter((item) => item.publish_state !== 'not_publish')
      }
      return newData
    },
    isLegit () {
      return this.$store.getters.isLegit('publishfromlist')
    },
    getStatus () {
      return this.$store.state.settings.publishfromlist.columnsVisible
    },
    getHeaders () {
      var allHeaders = this.$store.state.settings.publishfromlist.columnsVisible
      const allHeaderKeys = Object.keys(allHeaders)
      var rebuiltHeaders = []
      allHeaderKeys.forEach(element => {
        var original = element
        if (element !== 'status') {
          for (var count = 0; count < element.length; count++) {
            var letter = element.charAt(count)
            if (letter !== letter.toLowerCase()) {
              element = element.replace(letter, '_' + letter.toLowerCase())
            }
          }

          rebuiltHeaders.push({ isVisible: allHeaders[original], api: element, internalName: original })
        }
      })
      return rebuiltHeaders
    }
  }
}
</script>

<style>
.table-wrapper { overflow: auto; }
</style>
