<template>
  <div>
    <h5>{{$t('timeline.header')}}</h5>
    <p class="control">
      <b-tooltip
        label="Compare Config"
        :delay="500">
        <b-button class="button is-primary" @click="compareConfig">
          {{$t('timeline.compareconfig')}}
        </b-button>
      </b-tooltip>

      <div class="style=height:500px;">
        <div class="timeline">
          <header class="timeline-header">
            <span class="tag is-medium is-primary">{{$t('timeline.latest')}}</span>
          </header>

          <div
            v-for="(timeline, index) in sortDataByTime2"
            :key="timeline.timestamp"
            @mouseover="hover = index"
            @mouseleave="hover = -1">
            <div v-if="timeline.ismiletag">
              <header class="timeline-header">
                <span class="tag is-primary">{{timeline.stamp}}</span>
              </header>
            </div>
            <div v-else>
              <div class="timeline-item is-primary">
                <div class="timeline-marker is-danger"></div>
                <div class="timeline-content">
                  <div class="heading">{{timeline.timestamp2}}
                    <div class="tag is-primary">{{timeline.username}}</div>
                  </div>
                    <p>{{timeline.content}}</p>
                    <div v-if="timeline.active">
                      <b-tag class="is-success">
                        active
                      </b-tag>
                    </div>
                    <div v-else>
                      <div v-if="hover == index">
                        <b-button @click="confirmActivation(timeline)">
                          activate
                        </b-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="timeline-header">
            <span class="tag is-medium is-primary">{{$t('timeline.oldest')}}</span>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import moment from 'moment'
import CompareJson from './CompareJsons'
import { apiService } from '../api/index'

export default {
  name: 'TimeLine',
  components: {
  },
  props: {
    timelineData: {
      type: Array,
      default: () => [
      ]
    },
    appName: {
      type: String
    },
    tags: {
      type: Object,
      default: () => ({
        start: 'Latest',
        end: 'Oldest',
        format: 'DD.MM.YYYY hh:mm'
      })
    }
  },
  data () {
    return {
      hover: -1
    }
  },
  methods: {
    confirmActivation (timelineItem) {
      this.$buefy.dialog.confirm({
        title: 'Activate config',
        message: 'Are you sure you want to set configuration <br />' +
        'created at: <span class="has-text-link">' + timelineItem.timestamp2 + '</span><br />user: <span class="has-text-link">' +
        timelineItem.username + '</span><br />comment: <span class="has-text-link">' +
        timelineItem.content + '</span>',
        type: 'is-warning',
        hasIcon: true,
        confirmText: 'Activate',
        onConfirm: () => this.resetActiveConfig(timelineItem.filename)
      })
    },
    resetActiveConfig (filename) {
      var appName = filename.substring(0, filename.indexOf('_'))
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'setconfigactive.jsp', { filename: filename })
        .then(response => {
          if (!('error' in response)) {
            this.$store.dispatch(appName + '/fetchActiveConfig', appName)
          } else {
            Promise.reject(response.error)
          }
        })
        .catch(error => console.error(error))
    },
    compareConfig () {
      this.$buefy.modal.open({
        parent: this,
        component: CompareJson,
        customClass: 'custom-class custom-class-2',
        hasModalCard: false,
        trapFocus: true,
        props: { history: this.sortDataByTime2, appName: this.appName }
      })
    }
  },
  computed: {
    sortDataByTime2 () {
      var returnData = []
      var sortedData = this.timelineData.slice().sort(function (a, b) { return b.timestamp - a.timestamp })
      var year = 0

      sortedData.forEach((element, index) => {
        // get first timestamp
        if (index === 0) {
          year = moment(new Date(parseInt(element.timestamp))).format('DD.MM.YYYY')
        }
        var elementWithDate = element
        elementWithDate.timestamp2 = moment(new Date(parseInt(element.timestamp))).format(this.tags.format)
        var newYear = moment(new Date(parseInt(element.timestamp))).format('DD.MM.YYYY')
        if (!(newYear === year)) {
          returnData.push({ ismiletag: true, stamp: newYear, timestamp: index })
          year = newYear
        }

        elementWithDate.ismiletag = false
        returnData.push(elementWithDate)
      })

      return returnData
    }
  }
}
</script>

<style>
@-webkit-keyframes spinAround {
from {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
to {
  -webkit-transform: rotate(359deg);
  transform: rotate(359deg)
}
}

@keyframes spinAround {
from {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
to {
  -webkit-transform: rotate(359deg);
  transform: rotate(359deg)
}
}

.timeline {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 600px;
}

.timeline .timeline-header {
  width: 4em;
  min-width: 4em;
  max-width: 8em;
  word-wrap: normal;
  text-align: center;
  display: flex;
  justify-content: center
}

.timeline .timeline-item {
  display: flex;
  display: -webkit-flex;
  position: relative;
  margin-left: 2em;
  padding-bottom: 2em
}

.timeline .timeline-item::before {
  content: "";
  background-color: #dbdbdb;
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  left: -.5px;
  top: 0
}

.timeline .timeline-item .timeline-marker {
  position: absolute;
  background: #dbdbdb;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
  content: "";
  display: block;
  height: 12px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 1.2rem;
  width: 12px
}

.timeline .timeline-item .timeline-marker.is-image {
  background: #dbdbdb;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
  display: block;
  overflow: hidden
}

.timeline .timeline-item .timeline-marker.is-image.is-16x16 {
  height: 16px;
  width: 16px
}

.timeline .timeline-item .timeline-marker.is-image.is-24x24 {
  height: 24px;
  width: 24px
}

.timeline .timeline-item .timeline-marker.is-image.is-32x32 {
  height: 32px;
  width: 32px
}

.timeline .timeline-item .timeline-marker.is-image.is-48x48 {
  height: 48px;
  width: 48px
}

.timeline .timeline-item .timeline-marker.is-image.is-64x64 {
  height: 64px;
  width: 64px
}

.timeline .timeline-item .timeline-marker.is-image.is-96x96 {
  height: 96px;
  width: 96px
}

.timeline .timeline-item .timeline-marker.is-image.is-128x128 {
  height: 128px;
  width: 128px
}

.timeline .timeline-item .timeline-marker.is-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  background: #dbdbdb;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
  padding: .5rem
}

.timeline .timeline-item .timeline-marker.is-icon>* {
  font-size: .75rem!important
}

.timeline .timeline-item .timeline-marker.is-outlined .image {
  background: #fff
}

.timeline .timeline-item .timeline-marker.is-outlined.is-icon {
  background: #fff
}

.timeline .timeline-item .timeline-marker.is-outlined.is-icon>* {
  color: #dbdbdb
}

.timeline .timeline-item .timeline-marker.is-white {
  background-color: #fff!important;
  border-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-white .image {
  border-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-white.is-icon {
  background-color: #fff!important;
  border-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-white.is-icon>* {
  color: #0a0a0a!important
}

.timeline .timeline-item .timeline-marker.is-white.is-outlined {
  background-color: #fff!important;
  border-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-white.is-outlined .image {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-white.is-outlined.is-icon {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-white.is-outlined.is-icon>* {
  color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-black {
  background-color: #0a0a0a!important;
  border-color: #0a0a0a!important
}

.timeline .timeline-item .timeline-marker.is-black .image {
  border-color: #0a0a0a!important
}

.timeline .timeline-item .timeline-marker.is-black.is-icon {
  background-color: #0a0a0a!important;
  border-color: #0a0a0a!important
}

.timeline .timeline-item .timeline-marker.is-black.is-icon>* {
  color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-black.is-outlined {
  background-color: #fff!important;
  border-color: #0a0a0a!important
}

.timeline .timeline-item .timeline-marker.is-black.is-outlined .image {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-black.is-outlined.is-icon {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-black.is-outlined.is-icon>* {
  color: #0a0a0a!important
}

.timeline .timeline-item .timeline-marker.is-light {
  background-color: #f5f5f5!important;
  border-color: #f5f5f5!important
}

.timeline .timeline-item .timeline-marker.is-light .image {
  border-color: #f5f5f5!important
}

.timeline .timeline-item .timeline-marker.is-light.is-icon {
  background-color: #f5f5f5!important;
  border-color: #f5f5f5!important
}

.timeline .timeline-item .timeline-marker.is-light.is-icon>* {
  color: #363636!important
}

.timeline .timeline-item .timeline-marker.is-light.is-outlined {
  background-color: #fff!important;
  border-color: #f5f5f5!important
}

.timeline .timeline-item .timeline-marker.is-light.is-outlined .image {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-light.is-outlined.is-icon {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-light.is-outlined.is-icon>* {
  color: #f5f5f5!important
}

.timeline .timeline-item .timeline-marker.is-dark {
  background-color: #363636!important;
  border-color: #363636!important
}

.timeline .timeline-item .timeline-marker.is-dark .image {
  border-color: #363636!important
}

.timeline .timeline-item .timeline-marker.is-dark.is-icon {
  background-color: #363636!important;
  border-color: #363636!important
}

.timeline .timeline-item .timeline-marker.is-dark.is-icon>* {
  color: #f5f5f5!important
}

.timeline .timeline-item .timeline-marker.is-dark.is-outlined {
  background-color: #fff!important;
  border-color: #363636!important
}

.timeline .timeline-item .timeline-marker.is-dark.is-outlined .image {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-dark.is-outlined.is-icon {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-dark.is-outlined.is-icon>* {
  color: #363636!important
}

.timeline .timeline-item .timeline-marker.is-primary {
  background-color: #00d1b2!important;
  border-color: #00d1b2!important
}

.timeline .timeline-item .timeline-marker.is-primary .image {
  border-color: #00d1b2!important
}

.timeline .timeline-item .timeline-marker.is-primary.is-icon {
  background-color: #00d1b2!important;
  border-color: #00d1b2!important
}

.timeline .timeline-item .timeline-marker.is-primary.is-icon>* {
  color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-primary.is-outlined {
  background-color: #fff!important;
  border-color: #00d1b2!important
}

.timeline .timeline-item .timeline-marker.is-primary.is-outlined .image {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-primary.is-outlined.is-icon {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-primary.is-outlined.is-icon>* {
  color: #00d1b2!important
}

.timeline .timeline-item .timeline-marker.is-link {
  background-color: #3273dc!important;
  border-color: #3273dc!important
}

.timeline .timeline-item .timeline-marker.is-link .image {
  border-color: #3273dc!important
}

.timeline .timeline-item .timeline-marker.is-link.is-icon {
  background-color: #3273dc!important;
  border-color: #3273dc!important
}

.timeline .timeline-item .timeline-marker.is-link.is-icon>* {
  color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-link.is-outlined {
  background-color: #fff!important;
  border-color: #3273dc!important
}

.timeline .timeline-item .timeline-marker.is-link.is-outlined .image {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-link.is-outlined.is-icon {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-link.is-outlined.is-icon>* {
  color: #3273dc!important
}

.timeline .timeline-item .timeline-marker.is-info {
  background-color: #209cee!important;
  border-color: #209cee!important
}

.timeline .timeline-item .timeline-marker.is-info .image {
  border-color: #209cee!important
}

.timeline .timeline-item .timeline-marker.is-info.is-icon {
  background-color: #209cee!important;
  border-color: #209cee!important
}

.timeline .timeline-item .timeline-marker.is-info.is-icon>* {
  color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-info.is-outlined {
  background-color: #fff!important;
  border-color: #209cee!important
}

.timeline .timeline-item .timeline-marker.is-info.is-outlined .image {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-info.is-outlined.is-icon {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-info.is-outlined.is-icon>* {
  color: #209cee!important
}

.timeline .timeline-item .timeline-marker.is-success {
  background-color: #23d160!important;
  border-color: #23d160!important
}

.timeline .timeline-item .timeline-marker.is-success .image {
  border-color: #23d160!important
}

.timeline .timeline-item .timeline-marker.is-success.is-icon {
  background-color: #23d160!important;
  border-color: #23d160!important
}

.timeline .timeline-item .timeline-marker.is-success.is-icon>* {
  color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-success.is-outlined {
  background-color: #fff!important;
  border-color: #23d160!important
}

.timeline .timeline-item .timeline-marker.is-success.is-outlined .image {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-success.is-outlined.is-icon {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-success.is-outlined.is-icon>* {
  color: #23d160!important
}

.timeline .timeline-item .timeline-marker.is-warning {
  background-color: #ffdd57!important;
  border-color: #ffdd57!important
}

.timeline .timeline-item .timeline-marker.is-warning .image {
  border-color: #ffdd57!important
}

.timeline .timeline-item .timeline-marker.is-warning.is-icon {
  background-color: #ffdd57!important;
  border-color: #ffdd57!important
}

.timeline .timeline-item .timeline-marker.is-warning.is-icon>* {
  color: rgba(0, 0, 0, .7)!important
}

.timeline .timeline-item .timeline-marker.is-warning.is-outlined {
  background-color: #fff!important;
  border-color: #ffdd57!important
}

.timeline .timeline-item .timeline-marker.is-warning.is-outlined .image {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-warning.is-outlined.is-icon {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-warning.is-outlined.is-icon>* {
  color: #ffdd57!important
}

.timeline .timeline-item .timeline-marker.is-danger {
  background-color: #e84d0e!important;
  border-color: #e84d0e!important
}

.timeline .timeline-item .timeline-marker.is-danger .image {
  border-color: #e84d0e!important
}

.timeline .timeline-item .timeline-marker.is-danger.is-icon {
  background-color: #e84d0e!important;
  border-color: #e84d0e!important
}

.timeline .timeline-item .timeline-marker.is-danger.is-icon>* {
  color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-danger.is-outlined {
  background-color: #fff!important;
  border-color: #e84d0e!important
}

.timeline .timeline-item .timeline-marker.is-danger.is-outlined .image {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-danger.is-outlined.is-icon {
  background-color: #fff!important
}

.timeline .timeline-item .timeline-marker.is-danger.is-outlined.is-icon>* {
  color: #e84d0e!important
}

.timeline .timeline-item .timeline-content {
  padding: 1em 0 0 2em
}

.timeline .timeline-item .timeline-content .heading {
  font-weight: 600
}

.timeline .timeline-item.is-white::before {
  background-color: #fff
}

.timeline .timeline-item.is-black::before {
  background-color: #0a0a0a
}

.timeline .timeline-item.is-light::before {
  background-color: #f5f5f5
}

.timeline .timeline-item.is-dark::before {
  background-color: #363636
}

.timeline .timeline-item.is-primary::before {
  background-color: #00d1b2
}

.timeline .timeline-item.is-link::before {
  background-color: #3273dc
}

.timeline .timeline-item.is-info::before {
  background-color: #209cee
}

.timeline .timeline-item.is-success::before {
  background-color: #23d160
}

.timeline .timeline-item.is-warning::before {
  background-color: #ffdd57
}

.timeline .timeline-item.is-danger::before {
  background-color: #ff3860
}

.timeline-item:hover {
  background-color: #A7A6A6;
}
.timeline.is-centered .timeline-header {
  display: flex;
  width: 100%;
  align-self: center
}

.timeline.is-centered .timeline-item {
  width: 50%;
  align-self: flex-end;
  flex-direction: row
}

.timeline.is-centered .timeline-item:nth-of-type(2n) {
  align-self: flex-start;
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: 2em
}

.timeline.is-centered .timeline-item:nth-of-type(2n)::before {
  right: -.5px;
  left: auto
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker {
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-content {
  padding: 1em 2em 0 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 100%
}

.timeline.is-centered .timeline-item:nth-of-type(2n+1)::before {
  content: "";
  background-color: #dbdbdb;
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0
}

.timeline.is-centered .timeline-item.is-white::before {
  background-color: #fff
}

.timeline.is-centered .timeline-item.is-black::before {
  background-color: #0a0a0a
}

.timeline.is-centered .timeline-item.is-light::before {
  background-color: #f5f5f5
}

.timeline.is-centered .timeline-item.is-dark::before {
  background-color: #363636
}

.timeline.is-centered .timeline-item.is-primary::before {
  background-color: #00d1b2
}

.timeline.is-centered .timeline-item.is-link::before {
  background-color: #3273dc
}

.timeline.is-centered .timeline-item.is-info::before {
  background-color: #209cee
}

.timeline.is-centered .timeline-item.is-success::before {
  background-color: #23d160
}

.timeline.is-centered .timeline-item.is-warning::before {
  background-color: #ffdd57
}

.timeline.is-centered .timeline-item.is-danger::before {
  background-color: #ff3860
}

.timeline.is-rtl {
  justify-content: flex-end;
  align-items: flex-end
}

.timeline.is-rtl .timeline-item {
  justify-content: flex-end;
  flex-direction: row;
  border-left: none;
  margin-left: 0;
  margin-right: 2em
}

.timeline.is-rtl .timeline-item::before {
  right: 0;
  left: auto
}

.timeline.is-rtl .timeline-item .timeline-marker {
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-16x16 {
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-24x24 {
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-32x32 {
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-48x48 {
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-64x64 {
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-96x96 {
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-128x128 {
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

.timeline.is-rtl .timeline-item .timeline-content {
  padding: 1em 2em 0 0;
  text-align: right
}

.timeline.no-headers .timeline-item.is-first::before {
  height: calc(100% - 1.2rem);
  top: 1.2rem
}

.timeline.no-headers .timeline-item.is-last::before {
  height: 1.2rem
}
</style>
