<template>
  <div class="modal-card" >
      <section class="modal-card-head">
          <h3 class="title has-text-centered">User Settings</h3>
      </section>
        <section class="modal-card-body">
            <b-field horizontal>
                <template slot="label">
                    Mode
                </template>
                <b-field>
                    <b-radio-button v-model="mode"
                        type="is-success"
                        native-value="auto">
                        Automatic
                    </b-radio-button>

                    <b-radio-button v-model="mode"
                        native-value="normal"
                        type="is-success">
                        Normal
                    </b-radio-button>

                    <b-radio-button v-model="mode"
                        type="is-success"
                        native-value="dark">
                        Dark
                    </b-radio-button>

                </b-field>
            </b-field>

            <b-field horizontal label="Language">
                <b-select v-model="language">
                    <option v-for="lang in allLanguages2" :key="lang" :value="lang.code_2">{{lang.name}}</option>
                </b-select>
            </b-field>

            <b-field horizontal label="Notification">
              <b-checkbox v-model="notificationAll" @change.native="checkAllNotification()">
                  All
              </b-checkbox>
            </b-field>
            <b-field horizontal label="">
              <b-checkbox v-model="notification.usermanagement" @change.native="checkNotification()">
                  User Administration
              </b-checkbox>
            </b-field>
            <b-field horizontal label="">
              <b-checkbox v-model="notification.neutraldata" @change.native="checkNotification()">
                  NeutralData Management
              </b-checkbox>
            </b-field>
            <b-field horizontal label="">
              <b-checkbox v-model="notification.publishqueuemanager" @change.native="checkNotification()">
                  Queue Splitting Tool
              </b-checkbox>
            </b-field>
            <b-field horizontal label="">
              <b-checkbox v-model="notification.publishfromlist" @change.native="checkNotification()">
                  Publish from List
              </b-checkbox>
            </b-field>
            <b-field horizontal label="">
              <b-checkbox v-model="notification.customattributes" @change.native="checkNotification()">
                  Custom Attributes
              </b-checkbox>
            </b-field>
            <b-field horizontal label="">
              <b-checkbox v-model="notification.sapchecker" @change.native="checkNotification()">
                  ERP Checker
              </b-checkbox>
            </b-field>
            <b-field horizontal label="">
              <b-checkbox v-model="notification.synchronzier" @change.native="checkNotification()">
                  Synchronizer
              </b-checkbox>
            </b-field>

        </section>
        <section class="modal-card-foot">
            <b-button type="is-primary " @click="closeModal()">
                Save
            </b-button>
        </section>
    </div>
</template>

<script>
import allLanguages from '../lang/getlanguages'

export default {
  data () {
    return {
      mode: 'auto',
      language: {
        code_2: 'de',
        name: 'Deutsch (German)'
      },
      notificationAll: false,
      allLanguages2: allLanguages(),
      notification: {
        usermanagement: false,
        neutraldata: false,
        publishqueuemanager: false,
        publishfromlist: false,
        customattributes: false,
        sapchecker: false,
        synchronizer: false
      }
    }
  },
  watch: {
    mode: function () {
      this.changeUserSettings()
    }
  },
  methods: {
    changeUserSettings () {
      this.$store.dispatch('setUserSettings', {
        user: {
          language: this.language,
          mode: this.mode,
          notification: this.notification
        },
        force: true
      })
    },
    closeModal () {
      if (this.$store.state.settings.user.language !== this.language) {
        var currentPath = this.$route.path
        currentPath = currentPath.replace(this.$store.state.settings.user.language, this.language)

        this.$router.replace({ path: currentPath })
      }

      this.$store.dispatch('setUserSettings', {
        user: {
          language: this.language,
          mode: this.mode,
          notification: this.notification
        },
        force: true
      })

      this.$parent.close()
    },
    checkNotification () {
      var answerList = []
      const allKeys = Object.keys(this.notification)
      for (var key in allKeys) {
        answerList.push(this.notification[allKeys[key]])
      }
      const uniqueValues = answerList.filter((value, index, self) => self.indexOf(value) === index)

      if (uniqueValues.length === 1) {
        this.notificationAll = uniqueValues[0]
      } else {
        this.notificationAll = false
      }
    },
    checkAllNotification () {
      const allKeys = Object.keys(this.notification)
      for (var key in allKeys) {
        if (this.notificationAll) {
          this.notification[allKeys[key]] = true
        } else {
          this.notification[allKeys[key]] = false
        }
      }
    }
  },
  mounted () {
    this.language = this.$store.state.settings.user.language
    this.mode = this.$store.state.settings.user.mode
    this.notification = this.$store.state.settings.user.notification
  },
  computed: {
  }
}
</script>
