<template>
  <div>

      <b-field>
        <b-autocomplete
          @keyup.native.enter="getDocAttributes()"
          v-model="epmSearch"
          placeholder="e.g. 00000008.PRT"
          :keep-first="false"
          :open-on-focus="true"
          :data="searchCache"
          field="item"
          @select="option => (selected = option)"
          :clearable="true"
        >
        </b-autocomplete>
        <p class="control">
          <button class="button is-primary" @click="getDocAttributes">Search</button>
        </p>
      </b-field>

      <b-field>
        <b-checkbox v-model="rowPublish.only_latest_version">
          Only Latest Versions
        </b-checkbox>
      </b-field>

    <br />

    <b-table
      :data="tableContent"
      ref="table"
      hoverable
      detailed
      custom-detail-row
      detail-key="id"
      :loading="loading"
      :show-detail-icon="showDetailIcon">

        <b-table-column
          field="number"
          :visible="getSettings.columnsVisible['number']"
          :label="columnsVisible['number'].title"
          sortable
          v-slot="props">
          {{ props.row.number }}
        </b-table-column>

        <b-table-column
          field="version"
          :visible="getSettings.columnsVisible['version']"
          :label="columnsVisible['version'].title"
          sortable
          centered
          v-slot="props"
        >
            {{ props.row.version }}
        </b-table-column>

        <b-table-column
          field="lifecycle"
          :visible="getSettings.columnsVisible['lifecycle']"
          :label="columnsVisible['lifecycle'].title"
          sortable
          centered
          v-slot="props"
        >
            {{ props.row.lifecycle }}
        </b-table-column>

        <b-table-column
          field="authoring_application"
          :visible="getSettings.columnsVisible['authoringApplication']"
          :label="columnsVisible['authoring_application'].title"
          sortable
          centered
          v-slot="props"
        >
            {{ props.row.authoring_application }}
        </b-table-column>

        <b-table-column
          field="modified_on"
          :visible="getSettings.columnsVisible['modifiedOn']"
          :label="columnsVisible['modified_on'].title"
          sortable
          centered
          v-slot="props"
        >
            {{ props.row.modified_on }}
        </b-table-column>

      <template slot="detail" slot-scope="props">
        <tr v-for="attribute in props.row.attributes" :key="attribute.value">
          <td v-if="showDetailIcon"></td>
          <td >&nbsp;&nbsp;&nbsp;&nbsp;{{ attribute.name }}</td>
          <td class="has-text-left">{{ attribute.value }}</td>
        </tr>
      </template>

    </b-table>

  </div>
</template>

<script>
import { apiService } from '../api/index'

export default {
  name: 'ViewAttributes',
  data () {
    return {
      file: null,
      fiileContent: null,
      loading: false,
      epmSearch: '',
      rowPublish: {
        will_published: true,
        not_found: true,
        is_found: true,
        only_latest_version: false
      },
      showDetailIcon: true,
      data: [],
      columnsVisible: {
        number: { title: 'CAD Number', display: true },
        version: { title: 'Version', display: true },
        lifecycle: { title: 'Lifecycle', display: true },
        authoring_application: { title: 'Authoring Application', display: true },
        modified_on: { title: 'Modified On', display: true }
      }
    }
  },
  methods: {
    getDocAttributes () {
      this.$store.dispatch('additionalattributescache/saveNewSearch', { searchString: this.epmSearch, moduleName: 'additionalattributescache' })
      this.loading = true
      const body = { epm_number: this.epmSearch, exact_search: false }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'showattributes.jsp', body)
        .then(response => {
          this.data = response.epm_documents
          this.loading = false
        })
    },
    tagStyle (status) {
      var style
      if (status === 'will_published') {
        style = 'tag is-success'
      }
      if (status === 'is_found') {
        style = 'tag is-warning'
      }
      if (status === 'not_found') {
        style = 'tag is-danger'
      }
      return style
    },
    onDelete (row) {
      if (this.isLegit.config) {
        this.data.forEach((element, index, object) => {
          if (element.id === row.id) {
            object.splice(index, 1)
          }
        })
      } else {
        this.failedMessage('You are not allowed to change the config')
      }
    },
    sendPublishJob () {
    },
    failedMessage (message) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: 'is-danger'
      })
    }
  },
  watch: {
    file () {
      const promise = new Promise((resolve, reject) => {
        const reader = new FileReader()
        var vm = this
        reader.onload = e => {
          resolve((vm.fileinput = reader.result))
        }
        reader.readAsText(this.file)
      })
      promise.then(

        result => {
          this.fiileContent = this.fileinput
        },
        error => {
          /* handle an error */
          this.failedMessage(error)
        }
      ).catch(() => this.failedMessage('File: ' + this.file.name + ' is not a valid json file'))
    }
  },
  computed: {
    tableContent () {
      var sortedTable = JSON.parse(JSON.stringify(this.data))
      sortedTable.forEach((element, index, object) => {
        if (!this.rowPublish.will_published && element.status === 'will_published') {
          object.splice(index, 1)
        }
      })
      sortedTable.forEach((element, index, object) => {
        if (!this.rowPublish.is_found && element.status === 'is_found') {
          object.splice(index, 1)
        }
      })
      sortedTable.forEach((element, index, object) => {
        if (!this.rowPublish.not_found && element.status === 'not_found') {
          object.splice(index, 1)
        }
      })
      sortedTable.forEach((element, index, object) => {
        if (this.rowPublish.only_latest_version && !element.onlyLatestVersion) {
          object.splice(index, 1)
        }
      })
      return sortedTable
    },
    isLegit () {
      return this.$store.getters.isLegit('customattributes')
    },
    getSettings () {
      return this.$store.state.settings.customattributes
    },
    searchCache () {
      return this.$store.getters['additionalattributescache/cacheEntries']('additionalattributescache')
    }
  }
}
</script>

<style>

</style>
