<template>
  <div>
    <div class="columns">
      <div class="column is-one-fifth">
      </div>
      <div class="column">
        <br>
        <div class="buttons">
            <b-button type="is-success" @click="startAllWorkers()">Start All Workers</b-button>
            <b-button type="is-danger" @click="stopAllWorkers()">Stop All Workers</b-button>
            <b-button type="is-warning" @click="reloadAllWorkers()">Reload</b-button>
        </div>
        <b-table :data="workerInfo" :loading="loading">
            <b-table-column field="display_name" label="Worker" v-slot="props">
                {{ props.row.display_name }}
            </b-table-column>
            <b-table-column field="online" label="Online" v-slot="props">
              <div class="field">
                <b-checkbox v-model="props.row.online"></b-checkbox>
              </div>
            </b-table-column>
            <b-table-column field="status" label="Status" v-slot="props">
                <span :class="setStatusColor(props.row.status)">{{ props.row.status }}</span>
            </b-table-column>
            <b-table-column field="job" label="Job" v-slot="props">
                {{ props.row.job }}
            </b-table-column>
            <b-table-column field="jobnumber" label="Job Number" v-slot="props">
                {{ props.row.jobnumber }}
            </b-table-column>
            <b-table-column field="date" label="Date" v-slot="props">
                {{ getHumanReadableDate(props.row.date) }}
            </b-table-column>
            <b-table-column field="action" label="Action" v-slot="props">
                <div class="buttons">
                  <b-button type="is-success" @click="startWorker(props.row)">Start</b-button>
                  <b-button type="is-danger" @click="stopWorker(props.row)">Stop</b-button>
                </div>
            </b-table-column>
            <b-loading :is-full-page="true" :active.sync="fullPageLoad" :can-cancel="false"></b-loading>
        </b-table>

        <br />
        <b-dropdown
            v-model="selectedQueues"
            multiple
            aria-role="list">
            <button class="button is-primary" type="button" slot="trigger">
                <span>Selected ({{ selectedQueues.length }})</span>
                <b-icon icon="menu-down"></b-icon>
            </button>

            <b-dropdown-item v-for="item in rawQueueInfo" :key="item" :value="item.queue_name" aria-role="listitem">
                <span>{{item.queue_name}}</span>
            </b-dropdown-item>
        </b-dropdown>
        <br />
        <br />
        <b-table :data="queueInfo">
            <b-table-column field="queue_name" label="Queue Name" v-slot="props">
                {{ props.row.queue_name }}
            </b-table-column>
            <b-table-column field="is active" label="is active" v-slot="props">
              <div class="field">
                <b-checkbox v-model="props.row.is_active"></b-checkbox>
              </div>
            </b-table-column>
            <b-table-column field="interval" label="Interval" v-slot="props">
                {{ props.row.interval }}
            </b-table-column>
            <b-table-column field="completed" label="Completed" v-slot="props">
                {{ props.row.completed }}
            </b-table-column>
             <b-table-column field="deletecompleted" label="" v-slot="props">
               <b-button type="is-danger" @click="deleteEntries(props.row, 'COMPLETED')" icon-right="delete"></b-button>
             </b-table-column>
            <b-table-column field="failed" label="Failed" v-slot="props">
                {{ props.row.noneventfailed }}
            </b-table-column>
            <b-table-column field="actionfailed" label="" v-slot="props">
              <div class="buttons">
                <b-button type="is-danger" @click="deleteEntries(props.row, 'NONEVENTFAILED')" icon-right="delete"></b-button>
                <b-button type="is-success" @click="republishEntries(props.row, 'NONEVENTFAILED')" icon-right="refresh"></b-button>
              </div>
            </b-table-column>
        </b-table>
      </div>
      <div class="column is-one-fifth"></div>
    </div>
  </div>
</template>

<script>
import { apiService } from '../api/index'
export default {
  name: 'WorkerStatus',
  data () {
    return {
      workerInfo: [],
      queueInfo: [],
      rawQueueInfo: [],
      workerFetchIntervall: null,
      loading: false,
      fullPageLoad: false,
      selectedQueues: []
    }
  },
  mounted () {
    this.loading = true
    this.workerFetchIntervall = setInterval(this.getWorkerInfo, 5000)
  },
  beforeDestroy () {
    clearInterval(this.workerFetchIntervall)
  },
  methods: {
    getWorkerInfo () {
      const body = { }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'publishmonitor/getworkerinfo.jsp', body)
        .then(data => {
          this.workerInfo = data.worker_info
          if (data.queue_info) {
            this.rawQueueInfo = data.queue_info
            // var firstFilterQueue = data.queue_info.filter(queueItem => queueItem.queue_name.startsWith('PublisherQueue'))
            this.queueInfo = this.filterQueues(data.queue_info)
          }
        })
        .catch(error => console.log(error))
        .finally(this.loading = false)
    },
    selectButtonSelected () {
      this.queueInfo = this.filterQueues(this.rawQueueInfo)
    },
    filterQueues (rawInput) {
      var queueData = []
      for (var ii = 0; ii < rawInput.length; ii++) {
        // rawInput[ii].queue_name = rawInput[ii].queue_name.replace('PublisherQueue', '').replace('1', '')
        var entry = rawInput[ii].entries
        var entryStati = []

        if (this.selectedQueues.length === 0) {
          queueData.push(rawInput[ii])
          for (var kk = 0; kk < entry.length; kk++) {
            var entryStatus = entry[kk].status.toLowerCase()
            if (entryStati.indexOf(entryStatus) >= 0) {
              queueData[ii][entryStatus]++
            } else {
              entryStati.push(entryStatus)
              queueData[ii][entryStatus] = 1
            }
          }
        } else {
          if (this.selectedQueues.includes(rawInput[ii].queue_name)) {
            queueData.push(JSON.parse(JSON.stringify(rawInput[ii])))
            var entry2 = queueData[queueData.length - 1].entries
            for (var pp = 0; pp < entry2.length; pp++) {
              var entryStatus2 = entry2[pp].status.toLowerCase()
              if (entryStati.indexOf(entryStatus2) >= 0) {
                queueData[queueData.length - 1][entryStatus2]++
              } else {
                entryStati.push(entryStatus2)
                queueData[queueData.length - 1][entryStatus2] = 1
              }
            }
          }
        }
      }
      return queueData
    },
    setStatusColor (status) {
      if (status === 'On' || status === 'Busy') {
        return 'tag is-success'
      } else {
        return 'tag is-danger'
      }
    },
    getHumanReadableDate (date) {
      if (date) {
        var day = date.substring(0, 2)
        var month = date.substring(2, 5)

        if (month === 'Jan') {
          month = '01'
        } else if (month === 'Feb') {
          month = '02'
        } else if (month === 'Mar') {
          month = '03'
        } else if (month === 'Apr') {
          month = '04'
        } else if (month === 'May') {
          month = '05'
        } else if (month === 'Jun') {
          month = '06'
        } else if (month === 'Jul') {
          month = '07'
        } else if (month === 'Aug') {
          month = '08'
        } else if (month === 'Sep') {
          month = '09'
        } else if (month === 'Oct') {
          month = '10'
        } else if (month === 'Nov') {
          month = '11'
        } else if (month === 'Dez') {
          month = '12'
        }
        var year = '20' + date.substring(5, 7)
        var hour = date.substring(7, 9)
        var minute = date.substring(10, 12)

        var fullDate = year + '-' + month + '-' + day + ' ' + hour + ':' + minute
        return fullDate
      }
    },
    startAllWorkers () {
      this.showToast('Starting all Workers', 'is-success')
      const body = { mode: 'startall' }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'publishmonitor/workermanipulation.jsp', body)
        .catch(error => console.log(error))
    },
    stopAllWorkers () {
      this.showToast('Stop all Workers', 'is-success')
      const body = { mode: 'stopall' }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'publishmonitor/workermanipulation.jsp', body)
        .catch(error => console.log(error))
    },
    reloadAllWorkers () {
      this.showToast('Reload ini File', 'is-success')
      const body = { mode: 'reload' }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'publishmonitor/workermanipulation.jsp', body)
        .catch(error => console.log(error))
    },
    startWorker (workerInfo) {
      this.showToast('Starting Worker type: ' + workerInfo.shapetype + 'on host: ' + workerInfo.host, 'is-success')
      const body = { mode: 'startworker', shapetype: workerInfo.shapetype, host: workerInfo.host, instancenumber: workerInfo.instancenumber }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'publishmonitor/workermanipulation.jsp', body)
        .catch(error => console.log(error))
    },
    stopWorker (workerInfo) {
      this.showToast('Stopping Worker type: ' + workerInfo.shapetype + 'on host: ' + workerInfo.host, 'is-success')
      const body = { mode: 'stopworker', shapetype: workerInfo.shapetype, host: workerInfo.host, instancenumber: workerInfo.instancenumber }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'publishmonitor/workermanipulation.jsp', body)
        .catch(error => console.log(error))
    },
    deleteEntries (queueInfo, status) {
      this.fullPageLoad = true
      const body = { queue_name: queueInfo.queue_name, status: status, mode: 'delete' }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'publishmonitor/queuemanipulation.jsp', body)
        .then(resp => {
          if (resp.response) {
            this.showToast('Successful deleted ' + resp.response[0].entries.length + ' ' + status + ' jobs od queue: ' + queueInfo.queue_name, 'is-success')
          } else {
            this.showToast('Error: ' + resp.error, 'is-danger')
          }
        })
        .catch(error => console.log(error))
        .finally(() => {
          this.fullPageLoad = false
        })
    },
    republishEntries (queueInfo, status) {
      this.fullPageLoad = true
      const body = { queue_name: queueInfo.queue_name, status: status, mode: 'reset' }
      apiService.postRequest(process.env.VUE_APP_BASE_URL + process.env.VUE_APP_API_URL + 'publishmonitor/queuemanipulation.jsp', body)
        .then(resp => {
          if (resp.response) {
            this.showToast('Successful republished ' + resp.response[0].entries.length + ' jobs', 'is-success')
          } else {
            this.showToast('Error: ' + resp.error, 'is-danger')
          }
        })
        .catch(error => console.log(error))
        .finally(() => {
          this.fullPageLoad = false
        })
    },
    showToast (message, style) {
      this.$buefy.toast.open({
        duration: 5000,
        message: message,
        position: 'is-bottom',
        type: style
      })
    }
  },
  watch: {
    selectedOptions () {
      this.selectButtonSelected()
    }
  }
}
</script>

<style>

</style>
