<template>
  <div id="app">
    <nav-bar />
    <div>
      <router-view />
    </div>
    <b-modal :active.sync="getLogginStatus">
      <h2>Performing Loggin</h2>
      <div class="animation_container">
      <div class="animation"></div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import NavBar from '@/components/Navbar'
import store from './store/index'
import { userService } from '@/services'

export default {
  components: {
    NavBar
  },
  created () {
    window.addEventListener('beforeunload', this.handleOnClose)
  },
  methods: {
    logout () {
      userService.logout()
    },
    handleOnClose () {
      const userData = JSON.parse(localStorage.getItem('user'))
      userService.logout(userData.remember)
    }
  },
  mounted () {
    store.dispatch('setUserSettings', {
      user: {
        lang: navigator.language
      },
      force: false
    })
    store.dispatch('getInstalledApps')
  },
  computed: {
    getLogginStatus () {
      return store.state.performingLoggin
    }
  }
}
</script>
<style>
.animation_container {
  height: 100px;
}
.animation {
  width: 50px;
  height: 50px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:400px; top:0px;}
  75%  {background-color:green; left:600px; top:0px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>
